[2016-01-19 19:14] jmesserly commented on #414
https://codereview.chromium.org/1609843002/ fixes (1) above.

[2016-01-19 19:22] vsmenon commented on #412
devon: is clientWidth / clientHeight working for you?  those getters are on Element, so it should work despite the warning message.  (it's instantiating HTMLElement instead of HTMLHtmlElement.)

[2016-01-19 19:25] devoncarew commented on #412
I can check. I think I assumed they weren't because of the runtime message.

[2016-01-19 19:25] devoncarew commented on #414
Thanks for the fix! I'll do some digging on my end w/ devtools.

[2016-01-19 19:29] vsmenon commented on #412
it's pretty small, so i'll just go ahead and add it in.

[2016-01-19 20:07] vsmenon commented on #412
Fix pending:

https://codereview.chromium.org/1607073002/

[2016-01-19 21:31] #412 closed

[2016-01-20 00:44] vsmenon commented on #414
There is also this comment in `checkAndCall`:

[code]

The NSM might be hiding a runtime type error.  We may not be handling `JSObject<CustomEvent>` (the passed in Object), correctly.

@devoncarew do you know the type of the function getting passing in here?

[2016-01-20 00:53] jmesserly commented on #414
I think the function was the one deleted here: https://github.com/dart-lang/dev_compiler/commit/01e0e51a14820c71c97109b87b8f20cc2f752d17
(judging by the stack trace)

signature was (dynamic)->bool

I'm not sure what the argument type was, or why we weren't allowing anything to be passed as `dynamic`

[2016-01-20 01:00] jmesserly commented on #228
I'm working on a fix for this in https://github.com/dart-lang/sdk/issues/25482

[2016-01-20 01:22] jmesserly commented on #228
https://codereview.chromium.org/1609093003/

[2016-01-20 22:36] jacob314 opened #415 "Runtime types appear to be dropped for Map literals"
Repro:
[code]
shows up as runtime type of _LinkedHashMap<dynamic, dynamic>
writing new Map<String, String> works as expected.

[2016-01-20 22:48] jmesserly commented on #415
Did you forget to put the second type arg?
[code]
on Dart VM yields:
[code]

[2016-01-20 22:48] jmesserly commented on #415
dartanalyzer on that:
[code]

[2016-01-20 22:49] jmesserly commented on #415
I'm guessing that this is not a bug, but let me know if I'm missing something.

[2016-01-20 22:52] jmesserly commented on #415
just confirmed we do promote that warning to an error, so DDC won't compile that example unless force compile is set.

However, we seem to have the bug with the second example (`<String, String>{'foo': 'bar'}`).

[2016-01-20 22:58] jmesserly commented on #415
looks like we never implemented this, there's an old TODO in the code about it. fix on the way

[2016-01-21 01:06] #310 closed

[2016-01-21 01:07] jmesserly commented on #310
:tada:

[2016-01-21 19:24] jmesserly opened #417 "compiler doesn't understand linkage of dart.dynamic, void, bottom"
After CL https://github.com/dart-lang/dev_compiler/commit/6c1c9403788a85a98ee5d5a1f86ff2a3f6a61593 it is no longer safe for the compiler to assume `dart.dynamic` is a valid JS expression to instantiate it.

Instead the compiler needs to understand that `dynamic` is a first class reference to the Type for dynamic, and know what Element corresponds to that type declaration, so it can be generated in

[2016-01-21 19:25] jmesserly commented on #417
in general all "dart." references are problematic now. We need to instead go through _emitTypeName. The good news is we can probably eliminate special case code we have for these types.

[2016-01-21 19:57] jmesserly opened #418 "refactor compiler's runtime libs"
We inherited the runtime lib from dart2js (mostly, with some async support taken from the VM libs). Then we added some hand written JS. That unfortunately grew into a much larger set of required library code, was split up into JS "modules" and is now merged back into a single dart:_runtime library.

Things we should try and improve:
Restructure helpers libs that came from dart2js. The organization

[2016-01-22 00:49] Andersmholmgren opened #419 "Clarify docs on rules for normal mode types on generic methods"
From the docs it says that
[code]

is equivalent to

[code]

There is no indication whether I can use anything other than dynamic for normal mode. e.g.

[code]

[2016-01-22 01:03] jmesserly commented on #419
Good catch!

Yeah, we should fix the docs. Definitely can use another type. Your last code snippet is a perfect example of why it is useful. :)

[2016-01-22 01:05] Andersmholmgren commented on #419
\o/ Looking forward to taking this for a spin. It's been my no.1 most wanted dart features for years.

[2016-01-22 01:32] munificent commented on #377
This seems like a nice little starter bug for me to poke at.

[2016-01-22 05:58] Andersmholmgren opened #421 "overriding a final property with a getter generates a warning"
In the following
[code]

`String get foo => 'foo';` generates a warning.

It doesn't complain if `B implements A`.

I've done this for a while and never had any problems. It would seem odd that this would be dissallowed in the language

[2016-01-22 16:24] devoncarew commented on #412
:+1:, these are available to me now

[2016-01-22 17:11] vsmenon opened #423 "Need CustomEvent"
This doesn't appear to be supported in dart:html.

[2016-01-22 18:02] devoncarew commented on #414
To update, I recompiled w/ the latest in master and no longer see this issue - I can receive command events in Atom (they show up as the `CustomEvent` type).

[2016-01-22 18:07] devoncarew commented on #413
To update, I hit one more place where I was calling Uri.encodeComponent. From talking with @vsmenon, typed_data's `Uint8Array` is probably the most widely used one (or at least, adding support for that specific typed_data class would address several issues I'm seeing).

[2016-01-22 18:08] jmesserly commented on #415
oops, I had a CL, but working on merging it against the new way runtime libs are written. It's getting close!

[2016-01-22 19:48] devoncarew opened #424 "most source map paths are off by one"
Here's my setup:

- most dart code is in the `lib/` folder
- a single entry-point file is in `web/` (`web/entry.dart`)
- all DDC output written to `web/ddc/`
- a DDC entry-point file is generated in `web/entry_all.js` which basically `require`s all the generated DDC sources in `web/ddc/`

Most of the generated source maps have incorrect paths.

`web/ddc/entry.js.map` has `../entry.dart` for `sourc

[2016-01-22 19:56] jmesserly commented on #424
Good catch! Path computation happens at: https://github.com/dart-lang/dev_compiler/blob/e465c1df13f9ad50b5dff3e120fe116718561753/lib/src/compiler.dart#L417

I think the "packages" magic happens here: https://github.com/dart-lang/dev_compiler/blob/e465c1df13f9ad50b5dff3e120fe116718561753/lib/src/codegen/code_generator.dart#L79

The two do not appear to know about each-other...

(not sure this is lo

[2016-01-22 20:00] devoncarew commented on #424
I removed the priority label :) For me, the generated JS is clear enough that this doesn't impact the difficulty of debugging the code too much.

[2016-01-22 20:00] devoncarew opened #425 "cosmetic changes to the generated JS?"
Here's the current generated JS for a sample dart file:

[code]

Here is the sample file with some tweaks:

[code]

[2016-01-22 20:01] jmesserly commented on #421
Hey, thanks for the feedback. This is a duplicate of https://github.com/dart-lang/dev_compiler/issues/52 and https://github.com/dart-lang/sdk/issues/24928. See those issues for more background. 24928 is still open--we have not settled this question yet.

It is a hard one, because supporting this ends causes widespread readability cost (and possibly performance cost), even in places where the featu

[2016-01-22 20:01] #421 closed

[2016-01-22 20:03] jmesserly commented on #421
BTW, the other reason for the warning: your instances of "B" will have a dummy storage slot that is never used. Sometimes folks don't realize that their objects will be bigger and have unused storage space.

[2016-01-22 20:05] devoncarew commented on #425
This is:

- add some more blank lines to help group things
- unindenting the bit in the middle that corresponds to the user's code, so a `void main()` starts at indent 0 instead of 2
- changing the formatting of the `dart_library.library` header a bit. Don't know if that's a win -
- adding a line comment to tell the user what the source file was

W/ the de-indent change, this file will also be sli

[2016-01-22 20:07] jmesserly commented on #425
We haven't done anything to tweak the module boilerplate, because it will be fixed by generating much much cleaner ES6 modules.

Or even just following one of the ES5 module patterns, so the code looks like what humans write for ES5. That's covered by https://github.com/dart-lang/dev_compiler/issues/285, https://github.com/dart-lang/dev_compiler/issues/284, https://github.com/dart-lang/dev_compile

[2016-01-22 20:08] jmesserly commented on #425
I think this is covered by those other issues, but let me know if I missed anything.

[2016-01-22 20:10] devoncarew commented on #425
Ah, properly pretty much covered then. Here's one more tweak to the format (which doesn't try and change the module header format):

[code]

[2016-01-22 20:56] jmesserly commented on #417
Oh shoot. So it's easy to fix, but I blundered into https://github.com/dart-lang/dev_compiler/issues/257. Taking a look at that now.

[2016-01-22 21:30] #228 closed

[2016-01-22 21:35] jmesserly commented on #363
this is moved to the SDK now https://github.com/dart-lang/sdk/issues/24712, https://github.com/dart-lang/sdk/issues/24267

[2016-01-22 21:35] #363 closed

[2016-01-22 21:35] jmesserly commented on #365
moved to sdk: https://github.com/dart-lang/sdk/issues/24267, https://github.com/dart-lang/sdk/issues/24712

[2016-01-22 21:35] #365 closed

[2016-01-22 21:36] jmesserly commented on #28
static checking is essentially done, we need the JS compilation side of things

[2016-01-22 21:37] jmesserly commented on #288
moved to https://github.com/dart-lang/sdk/issues/25248

[2016-01-22 21:37] #288 closed

[2016-01-22 21:39] nex3 commented on #28
Just for reference, what's the syntax for this?

[2016-01-22 21:39] jmesserly commented on #299
moved to sdk: dart-lang/sdk#24267, dart-lang/sdk#24712

[2016-01-22 21:39] #299 closed

[2016-01-22 21:40] jmesserly commented on #337
Meh, I guess we'll punt on this one.

[2016-01-22 21:40] #337 closed

[2016-01-22 21:43] jmesserly commented on #274
Moved to https://github.com/dart-lang/sdk/issues/25565

[2016-01-22 21:43] #274 closed

[2016-01-22 21:46] jmesserly commented on #28
Syntax is described here: https://github.com/dart-lang/dev_compiler/blob/master/GENERIC_METHODS.md

[2016-01-22 21:57] jmesserly commented on #290
https://codereview.chromium.org/1627503002/

[2016-01-22 21:58] jmesserly commented on #289
merging into analyzer bug: https://github.com/dart-lang/sdk/issues/25232

[2016-01-22 21:58] #289 closed

[2016-01-23 00:52] #377 closed

[2016-01-24 02:56] Andersmholmgren commented on #421
Actually in the cases I found I could simply change it to implements (which I should have done in the first place).

I think the `@virtual` suggestion might be a good tradeoff

[2016-01-24 03:07] Andersmholmgren opened #426 "passing generic function literals"
I have the following

[code]

The analyzer complains with

[2016-01-25 00:52] Andersmholmgren commented on #421
Actually I take that back. One of my cases did need to extend and strikes me as a legit case

It makes use of the parent classes with a fallback implementation for when the field is null

[code]

[2016-01-25 18:44] jmesserly commented on #426
Nice example! A few things could be going on here:
* we don't have instantiated tear-off support, so `_defaultBuiltListPropertyFactory /*<R>*/` doesn't parse the `<R>`
* we're not doing downward inference for instantiated tear-offs. Otherwise we'd push the `<R>` down to _defaultBuiltListPropertyFactory.

The error I'm seeing makes a little more sense:
[code]

Basically it ends up with the uninstan

[2016-01-25 18:49] vsmenon opened #427 "Ordering issue in codegen"
@jmesserly If I compile and run order1.dart below, I hit an error when Foo is loaded.  I'm actually trying expose a different bug (on `main`) here, but it's not even getting that far.  Any ideas?

order1.dart:
[code]

order2.dart:
[code]

[2016-01-25 18:51] munificent commented on #419
Github didn't auto-close this, but I assume it's done now. :)

[2016-01-25 18:53] jmesserly commented on #426
The other bug is https://github.com/dart-lang/sdk/issues/25175. We thought perhaps we could wait to implement instantiated tear-offs, but this example is a good one for why that doesn't work. :)

It's ugly, but a workaround in the short term might be:
[code]

[2016-01-25 18:57] jmesserly commented on #419
@vsmenon needs to review the pull request https://github.com/dart-lang/dev_compiler/pull/420 :)

[2016-01-25 18:57] jmesserly commented on #419
or you could @munificent :)

[2016-01-25 19:10] jmesserly commented on #427
What's the error? :)

[2016-01-25 19:16] jmesserly commented on #427
it looks like the known problem of static fields on a lazy generic class:
[code]

[2016-01-25 19:17] vsmenon commented on #427
[code]

Here's the generated code for order1:

[code]

[2016-01-25 19:18] jmesserly commented on #427
yeah, that's what I'd expect. we're forcing Foo to evaluate eagerly on `exports.Foo.x = 24;` which forces order2, which isn't available yet.

[2016-01-25 19:18] jmesserly commented on #427
The bug here is we shouldn't generate Foo's static fields like that.

[2016-01-25 19:19] vsmenon commented on #427
Yup, that's exactly what's happening.  Throwing on `exports.Foo.x = 24`.

[2016-01-25 20:04] vsmenon commented on #427
Related to #371

[2016-01-25 22:55] yjbanov opened #428 "Reduce severity of missing switch cases"
Missing switch cases are classified as errors. However, they do not impact the quality of the resulting JS. Let's reduce it to a warning.

[2016-01-25 22:57] jmesserly commented on #428
CC: @munificent

I dug in a bit, and this looks like a double bug: one for DDC and one for Analyzer.

First problem: DDC promotes all analyzer warnings to errors. We need to be more careful about which ones.

Second problem, in Analyzer:
[code]

Note the mismatch between the comment (warning) and the error level. I checked and 3rd ed Dart spec says it should be a warning:

not exhaustive.

[2016-01-25 23:01] jmesserly commented on #428
I filed https://github.com/dart-lang/sdk/issues/25576 for the Analyzer bug

[2016-01-25 23:28] #375 closed

[2016-01-25 23:45] jmesserly commented on #47
It looks like this is our inference. In some cases, like local var inference, we're careful not to accept bottom type. However this logic doesn't kick in consistently.

I'm guessing lambda expression return type and return statements have this problem. Upwards generic methods I think is okay, as we reject "bottom" (which can happen sometimes naturally as a result of computing the lower/upper bound

[2016-01-25 23:46] jmesserly commented on #47
BTW, bottom comes into play as the type of `null`, per the spec.

[2016-01-26 00:08] #290 closed

[2016-01-26 06:15] Andersmholmgren commented on #411
I believe this is the issue I'm hitting now. I've spent the last day or so moving projects to strong mode, adding generic method parameters and getting rid of analyser warnings.

But when I go to run the unit tests pretty much everything blows up now like

[code]

Looking at the classes referenced here I believe the analyser is correct and the problem is at runtime.

[code]

[2016-01-26 16:50] #419 closed

[2016-01-26 16:53] vsmenon commented on #411
@Andersmholmgren I think you're hitting this bug: https://github.com/dart-lang/sdk/issues/25530

Can you clarify what you mean by runtime?  Are you running tests with DDC?

[2016-01-26 17:25] jmesserly commented on #427
fyi, this looks like a really easy fix. Static fields just need to be pulled out of the "loader" system, back to _finishClassMembers. There might be a slight readability hit, but I doubt it will be bad.

The only reason static fields are handled that way, is cases like:
[code]
Having static fields independent of their class allows better ordering. It's pretty obscure though, doubt it comes up much

[2016-01-26 17:49] jmesserly commented on #47
haven't figured this out entirely, but my guess is that the static type () -> ⊥ for `() => null` comes from the spec type system. Probably our inference on function expressions should fix that up, in strong mode. Given that we have downward inference, I don't think we'll need to preserve that type as ⊥ (one possibility is to fix this for `null` itself, since the literal itself can be typed as anyt

[2016-01-26 21:02] munificent commented on #428
I'd be happy to take a look at this. I'll follow up on the analyzer one first.

[2016-01-26 22:03] Andersmholmgren commented on #411
I'm running `pub run test` on a project with strong mode enabled on the latest dev VM

[2016-01-26 22:05] Andersmholmgren commented on #411
Yes the sdk issue sounds the same. Only thing is that it doesn't show up in the dart analyser tab of IntelliJ. Only when I run the tests

[2016-01-26 22:38] jmesserly commented on #411
"malbounded type" is a Dart VM error. I suspect you'll get the same error without strong mode. (Dart VM doesn't do anything different for strong mode, so "pub run test" would be unaffected.)

[2016-01-26 23:18] vsmenon opened #430 "Should be able to compile (and serve) multiple html entry points"
We currently require an entry point file (along with a hackish list of additional resources).  We should make it easier to just point to a directory.

We code probably use the same code we're using for source maps / serving original source.

@yjbanov

[2016-01-26 23:24] jmesserly commented on #430
https://github.com/dart-lang/dev_compiler/issues/277 :)

[2016-01-27 01:39] jmesserly commented on #427
https://codereview.chromium.org/1636233002/

[2016-01-27 17:35] #427 closed

[2016-01-27 19:11] munificent commented on #419
Oops, sorry. Didn't see this yesterday.

[2016-01-27 22:18] jmesserly commented on #47
https://codereview.chromium.org/1649523002/

[2016-01-27 22:19] jmesserly commented on #120
I think @munificent is looking at this.

[2016-01-27 22:19] jmesserly commented on #120
(dropping soundness tag as we are defensive right now, and treat all warnings as errors, for better or worse)

[2016-01-27 22:23] jmesserly commented on #360
merging the error UX into this SDK bug:
https://github.com/dart-lang/sdk/issues/24753

also this bug discusses merging CodeChecker and ErrorVerifier, which will really help these messages:
https://github.com/dart-lang/sdk/issues/25350

contravariant request is currently tracked at
https://github.com/dart-lang/dev_compiler/issues/324

[2016-01-27 22:23] #360 closed

[2016-01-27 22:25] jmesserly commented on #366
I can no longer reproduce this.

[2016-01-27 22:25] #366 closed

[2016-01-27 22:46] jmesserly commented on #324
If I understand correctly, we could allow the contravariance for type parameters, but only where they are is `dynamic`. In other words: `C<S>` is a subtype `C<T>` iff S is dynamic or T.

For example:

[code]
(using "in" to match C# naming convention.)

[2016-01-27 22:53] jmesserly commented on #324
moved to https://github.com/dart-lang/sdk/issues/25604

[2016-01-27 22:53] #324 closed

[2016-01-29 01:04] #423 closed

[2016-01-29 05:24] Andersmholmgren opened #433 "generic method types not transferred to constructor calls"
In the example below neither instance of `Fred` ends up with the expected type arguments.

`f1` ends up as `Fred<List, Object>` and `f2` as just `Fred`

[code]

resulting output

[code]

[2016-01-29 10:42] ochafik commented on #291
DDC can now compile to node modules (including its sdk packages), but we don't package our runtime as a node module yet by default (should be addressed by #397).

If you want to test things out locally, have a look at [tool/node_test.sh](https://github.com/dart-lang/dev_compiler/blob/master/tool/node_test.sh).

[2016-01-29 16:52] jmesserly commented on #285
Fixed in https://github.com/dart-lang/dev_compiler/commit/393c2b3b7212f94e629ed47e0a64b4183ee5a79f :tada:

[2016-01-29 16:52] #285 closed

[2016-01-29 17:32] jmesserly commented on #433
Nice catch! It looks like you're using Dart VM? Sadly there's not a lot we can do there, until generic methods support is added to the language.

(A related issue: DDC hasn't implemented https://github.com/dart-lang/dev_compiler/issues/301 yet, so it doesn't pass "A" and "B" to `doIt` yet either. But I'm just started looking at this.)

If you'd be willing to run your command line program using DDC

[2016-01-29 17:37] jmesserly opened #434 "sdk generic method support"
Here's one SDK issue: https://github.com/dart-lang/sdk/issues/25408

If we can compile against our own SDK impl, that might help (https://github.com/dart-lang/dev_compiler/issues/257). That doesn't help in the editor though, so we likely need these fixes to go upstream.

@leafpetersen has some of these in a work in progress CL

[2016-01-29 17:39] jmesserly opened #435 "generic methods"
This is a tracking bug for generic methods:

Above the line is P1
- [x] static checking for generic methods (in Analyzer), see #300
- [x] runtime support in DDC's code generator, see #301
- [x] SDK uses generic methods, see #434
- [x] instantiated tear-offs, see #525
- [x] async generic methods, see #538

---
- [ ] universal function types, see #526
- [ ] generic function expressions, set #527
- [

[2016-01-29 17:40] jmesserly commented on #28
Closing this one out, since we definitely decided to do it, and are well along in the implementation.
New tracking bug here: https://github.com/dart-lang/dev_compiler/issues/435

[2016-01-29 17:40] #28 closed

[2016-01-29 17:56] jmesserly commented on #285
I'll open a bug for dart:io node wrapper.

[2016-01-29 18:08] jmesserly opened #436 "node wrapper for dart:io"
We can now compile & run on nodejs. But we don't have a dart:io impl.

[2016-01-29 18:12] jmesserly commented on #43
we now require node > 5, I believe, so we can remove this workaround.

[2016-01-29 18:13] jmesserly commented on #34
lots still to do, but we have preliminary ES6 as well as Node.js module support

[2016-01-29 18:13] #34 closed

[2016-01-29 18:13] #430 closed

[2016-01-29 18:14] jmesserly commented on #332
fyi, I've been slowly making progress on getting Analyzer clean itself. Lots to do though

[2016-01-29 18:15] jmesserly commented on #414
\o/ going to close this out. If there's a bug in dcall helpers (and indeed there's some TODO's there still), we can flush it out when we look through language tests and such.

[2016-01-29 18:15] #414 closed

[2016-01-29 18:16] jmesserly commented on #143
Many (most?) of these are fixed now. I think we can take these on a case by case basis now that we're mostly merged into Analyzer. CL's will be easier to track. :)

[2016-01-29 18:16] #143 closed

[2016-01-29 18:18] jmesserly commented on #285
https://github.com/dart-lang/dev_compiler/issues/436 for dart:io

[2016-01-29 18:26] jmesserly commented on #371
Fixed this in https://github.com/dart-lang/dev_compiler/commit/8ff0b180027043a258d565643d87db1ff3c23b64

[2016-01-29 18:26] #371 closed

[2016-01-29 18:29] jmesserly commented on #277
BTW, we can still keep a server. The big thing wrong with the current system is that it requires explicit "entry points". Instead you need to be able to target a directory, and it "just works". Although I think @vsmenon just made that better in https://github.com/dart-lang/dev_compiler/commit/0ad43572ecdec86389a716360aec6cf658beab55 ?

[2016-01-29 18:33] jmesserly commented on #277
Also, a problem we hit in `pub serve` is that the intermediate state is only visible in memory. It's fine to save the generated JS to disk (a watcher would do that).

The ideal tool would be like:

1. watches a directory
2. automatically recompiles JS when it sees Dart files changed
3. also optionally, can be accessed as a local server. The server knows if recompile is happening and can block unti

[2016-01-29 18:37] vsmenon opened #437 "remove unneeded dart.js file when build html files"
We currently leave `dart.js` scripts in place when we build html files (and convert `application/dart` scripts).  This triggers a missing file error when we serve apps.

Alternatively, we could package the actual runtime & sdk in a single `dart.js` file.

[2016-01-29 19:07] vsmenon opened #438 "Update / clean up documentation"
Our current [STRONG_MODE.md](https://github.com/dart-lang/dev_compiler/blob/master/STRONG_MODE.md) is out of date.

- [x] Static checking
- [x] Runtime semantics
- [x] JS Codegen
- [ ] Usage

[2016-01-29 19:12] vsmenon opened #439 "Support modular build from command line"
We should be able to do something like:

[code]

to build an app consisting of `foo.dart` and `bar.dart` without generating code for its dependencies (e.g., in this case angular2.dart and somecomponent.dart).

[2016-01-29 19:16] jmesserly commented on #439
Nice! Probably can refactor BatchCompiler to work this way. At some point I tried to disentangle compiling and linking a bit but didn't get too far.

[2016-01-29 19:18] vsmenon commented on #439
BTW, an explicit motivation here is to make it easy to integrate with existing build systems like make or [bazel](http://bazel.io/).

@keertip

[2016-01-29 19:25] keertip commented on #439
Yes, this is what we would like to see - generate a single js file for a set of dart files.

[2016-01-29 20:18] donny-dont commented on #439
My thought for this was that if I have a dart package I could compile that out with DDC into something one of the many many package managers for the JS world could digest. So lets say I have a pubspec that was the following.

[code]

The compilation would not bother compiling out foo but instead would just compile out bar so then I could push bar to the JS package manager. In the end the user coul

[2016-01-29 21:53] Andersmholmgren commented on #433
ahhh it appears I am confused. I thought this was all part of a dart wide initiative to add support for generic methods.

In this project I have a polymer dart front end and shelf dart backend. I am adding generic methods to improve code quality by increasing the feedback I get from the analyzer. I'm not expecting to make any particular use of the ddc for this project (although it will be huge for

[2016-01-29 22:53] jmesserly commented on #433
Oh, we're definitely working towards generic methods. Analyzer strong mode + DDC is the testing grounds for the [enhancement proposal](https://github.com/leafpetersen/dep-generic-methods/blob/master/proposal.md). DDC has a sound type system so we need them sooner than other Dart impls do.

We were hoping that the static type checking would be useful on its own, without necessarily having the runti

[2016-01-29 23:25] jmesserly commented on #43
https://codereview.chromium.org/1643523008

[2016-01-29 23:25] Andersmholmgren commented on #433
ah thanks for clarifying. That is great news. So it is just a matter for me and others to get a handle on where the boundaries lie. I had fooled myself into thinking that the `doIt` method above was kinda equivalent to (and shorthand for).

[code]

But I see now that it is not the case in general, only for stuff compiled by the dcc.

Thanks for taking the time to clear things up

[2016-01-30 00:49] vsmenon commented on #433
This is a nice example.  We may want to disallow this sort of syntax: `new Fred<List /*=A*/, Object /*=B*/ >` and only allow a type param to replace dynamic in this context (e.g., `new Fred<dynamic /*=A*/, dynamic /*=B*/>` would be ok).  Otherwise, code may blow up in standard checked mode.

[2016-02-01 20:55] #43 closed

[2016-02-01 21:30] #47 closed

[2016-02-01 23:39] #415 closed

[2016-02-05 22:36] vsmenon opened #441 "Implement dart:typed_data"
This library is unsupported / unimplemented to date.  This is blocking #413

[2016-02-06 15:10] sethladd opened #442 "Consider a website that generates JS code from Dart via DDC"
I'm really curious what the output is of DDC. Is that documented anywhere (as examples)? Or, maybe switch dartpad.dartlang.org over to it? Or, maybe DDC can be self hosted and we can build a tiny app with DDC, compiled with DDC, to show how DDC translates Dart to JS? :)

[2016-02-08 17:50] jmesserly commented on #442
Here's an example: https://github.com/dart-lang/dev_compiler/tree/master/test/codegen/sunflower
Output: https://github.com/dart-lang/dev_compiler/tree/master/test/codegen/expect/sunflower

We've got a bunch of things in the works that will improve output (ES6 modules/destructuring for example are implemented but not turned on until we get Atom/Chrome support)

[2016-02-08 17:51] jmesserly commented on #442
yeah that's a cool idea. Maybe a flavor of https://dartpad.dartlang.org/?

[2016-02-08 18:09] vsmenon opened #443 "Tip-of-tree analyzer breaking codegen tests"
If I add a dependency_override to point directly at analyzer tip-of-tree in the SDK, I get the following failures in the codegen tests.

[code]

It's failing in this code:

[code]

It appears that `unit.library.element` is returning `null`.  (I verified by breaking the two `library` getters onto separate lines.)

@jmesserly @bwilkerson Any idea why this would be null now?

[2016-02-08 18:32] vsmenon commented on #443
One other stack trace I missed.  These will block our next roll to the analyzer (not urgent yet).

[code]

[2016-02-08 18:37] vsmenon commented on #443
The second stack trace appears to be the same underlying issue - a library with a null `element`.

[2016-02-08 20:16] bwilkerson commented on #443
No, I'm not sure why, but it looks to me that it has to have happened in BatchCompiler._processPending(). Earlier in the method (before the call to `generateLibrary`), there's the line:

    var library = unit.library.element.enclosingElement;

So at that point the unit's library had a non-null element. Not sure what happened to cause that to change by the time `generateLibrary` is called.

[2016-02-08 21:19] jmesserly commented on #443
It sounds like we're not getting back a fully resolved AST? Or it got unresolved somehow, maybe by caching & re-resolution?

[2016-02-08 21:21] jmesserly commented on #443
Aside: probably not related, but I'm in the process of seriously cleaning up that code. BatchCompiler is almost totally rewritten to process library cycles atomically.

[2016-02-09 18:20] vsmenon opened #444 "5.0 fails to cast to double"
The follow fails with a runtime cast error (`CastError: Casting value of type int to incompatible type double`):

[code]

It works fine in dart2js checked mode.  We need to be equivalently forgiving.

[2016-02-09 18:24] vsmenon opened #445 "Lists print differently from dart2js / vm"
The following prints `true` on the VM and Dart2JS and false in DDC.  This is causing (will cause) spurious test failures.

[code]

[2016-02-09 18:26] vsmenon opened #446 "Right shift is zero-fill in Dart"
DDC propagates the sign on a right shift.  This appears to violate Dart semantics.

The following prints `1` on the VM / dart2js and `-1` in DDC.

[code]

[2016-02-09 22:40] vsmenon commented on #443
Hmm, I added a couple asserts here.  The second one is failing.  It looks like ResolutionCopier is failing to copy.

[code]

@bwilkerson - did anything change here?

[2016-02-09 22:46] bwilkerson commented on #443
Not as far as I can remember. The method ResolutionCopierTest.test_visitCompilationUnit() appears to be testing exactly this case.

[2016-02-09 23:11] vsmenon commented on #443
This appears to be related to the cloning of tokens in `AstCloner`.  `copyResolutionData` is failing because the tokens in `oldNode` and `newNode` do not match.

[2016-02-09 23:14] bwilkerson commented on #443
@scheglov recently made the change that caused tokens to be copied. I'm guessing we just need to update ResolutionCopier to compare tokens differently.

[2016-02-09 23:20] vsmenon commented on #443
@scheglov

This problem appears to be in `AstCloner.visitCompilationUnit`:

[code]

The cloned `beginToken` is skipping over comments in the original node.  FWIW, `cloneTokens` is set to `false` in this case.

[2016-02-09 23:23] vsmenon commented on #443
If I replace that last line with:

[code]

then, the resolution data is copied over.

[2016-02-10 00:13] scheglov commented on #443
https://codereview.chromium.org/1686653003

[2016-02-11 00:09] ochafik opened #448 "Move js_ast to its own top-level package"
As suggested by @jmesserly, we'll need to merge changes from dart2js (DDC's version of the library might have more changes than dart2js: ES6 destructuring, TypeScript & Closure types, etc), then migrate dart2js to that package.
- [DDC's js_ast history](https://github.com/dart-lang/dev_compiler/commits/master/lib/src/js)
- [SDK / dart2js' js_ast history](https://github.com/dart-lang/sdk/commits/mas

[2016-02-11 01:29] jmesserly commented on #448
CC @kevmoo @sigmundch -- was discussing this with Kevin this morning, and later with Siggi.

I didn't leave those conversations with any clear idea of how to proceed.

My original idea was to create dart-lang/js_ast, so we can have a space for collaboration & branching/merging. And, even if dart2js isn't interested in our changes, it'd be nice to factor out that code.

I'm not sure what other appr

[2016-02-11 02:05] sigmundch commented on #448
I'm in favor and I like the idea of creating the new repo - seems that it will be the most productive approach. Some additional thoughts on it:

 - **branches**: it might be nice to have 2 or 3 branches initially:
    - `master`: what js_ast was when we forked
    - `dart2js`: changes we have made since then from dart2js, I'd be ok merging those into master right away
    - `es6`: all the changes

[2016-02-11 19:20] jmesserly commented on #108
merging this in to: https://github.com/dart-lang/sdk/issues/25220

[2016-02-11 19:20] #108 closed

[2016-02-11 19:21] jmesserly commented on #433
this is now tracked at https://github.com/dart-lang/sdk/issues/25637

[2016-02-11 19:21] #433 closed

[2016-02-11 19:25] jmesserly opened #449 "covariant generic checks are not correct"
Could've sworn we had a bug about this. Anyway, IIRC, there are some bugs in how a type like `List<E>` checks parameters to ensure they're the right type. I think it might be our optimizations that attempt to avoid emitting the check if not needed. Maybe it's captured by TODO's in the code, or I just failed to find the old bug :)

[2016-02-11 19:26] jmesserly commented on #449
Naturally I just found it. It's https://github.com/dart-lang/dev_compiler/issues/161

[2016-02-11 19:26] #449 closed

[2016-02-11 20:07] jmesserly commented on #161
So, thinking about this again, now that I understand better how types work in Analyzer:

What we want to do is instantiate `Foo<T>` to its lower bound, look up our base method type Mb and our own method type Md, then for each parameter type Pb_i and Pd_i, see if Pb_i <: Pd_i. If that is not the case, we need a check for parameter i.

(Incidentally: that's the same logic we'd use for covariant over

[2016-02-11 21:21] leafpetersen commented on #161
I'm not sure I follow this.  What lower bound do you mean, when you say "instantiate `Foo<T>` to it's lower bound"?

[2016-02-11 21:24] nex3 commented on #448
My migration script ended up taking advantage of the ability to clone a specific slice of a Subversion repository, so I don't think it would transfer exactly. However, I think `git filter-branch` can be made to do what you need pretty easily.

[2016-02-11 21:31] jmesserly commented on #161
Haha, oops, I meant upper bound :)

[2016-02-11 21:37] jmesserly commented on #161
In other words: `Foo<Object>`. The covariance problem happens because `Foo<int> <: Foo<Object>`, which means the static type system will implicitly allow call sites like: `Foo<int>.add <: Foo<Object>.add`, or in other words, `int -> void <: Object -> void`, which is not what we want. Replacing the type parameter with its upper bound would be an easy way to find those soundness violations.

(We cou

[2016-02-11 21:40] jmesserly commented on #161
Another example:
[code]

Here we wouldn't need a check on D.add, because: {num/T}T <: Object.

[2016-02-11 22:03] leafpetersen commented on #161
Ah, I see.  Yes, I think that makes sense, and could be a nice way to do it.  You may need to think about what exactly the base method you compare to should be.  For example:

[code]

Here both overrides need a check, but if you only compare the type of E.add against D.add I don't think you'll see it.  It's possible it's always sufficient to check against the root definitions in the hierarchy (pre

[2016-02-11 22:35] jmesserly commented on #161
Chatted with Leaf, another thing we should consider:

It would be nice if Analyzer knows about these implicit downcasts, so we can go through our normal warning logic. For example `Iterable<E>` or `E fn()` are downcasts that are likely to fail (warning:DOWN_CAST_COMPOSITE).

[2016-02-11 22:36] #441 closed

[2016-02-11 22:36] #444 closed

[2016-02-11 22:41] vsmenon opened #450 "Regression in raw dom"
We're now generating the following for raw dom indexing.  Looks broken - we're probably not runtime regression.

https://codereview.chromium.org/1680263002/diff/60001/test/codegen/expect/sunflower/dom.js

Need to investigate further - the CL above is for typed data support.

[2016-02-11 23:07] jmesserly opened #451 "possible issue with user-defined runtimeType on extension interfaces"
I'm not sure if the following program will work:
[code]

The bug isn't in how we generate JS, but in our hand coded runtime helper for "runtimeType". We'll call "obj.runtimeType" instead of "obj[dartx.runtimeType]".

Maybe this *does* work, because `[dartx.runtimeType]` is a trampoline that maps to `runtimeType`? Anyway -- something to investigate. Properties on Object are in a bit of an odd place

[2016-02-11 23:09] jmesserly opened #452 "simplify setType in runtime"
after https://codereview.chromium.org/1680263002/, we do two property sets in there. It is supposed to be a very fast __proto__ set to handle generic extension types. I don't think an extra property set should be needed, we should have the right reflection information on the JS __proto__ already.

[2016-02-11 23:22] vsmenon commented on #451
This should work fine now.  For Object properties, we dispatch a little differently.  We generate either

[code]

if we know `o` is non-null and not a native JS object.  Otherwise, we generate:

[code]

[2016-02-11 23:24] jmesserly commented on #451
yeah, but how does `dart.runtimeType` itself work? :)

Does MyIterable get generated with a `get runtimeType() { return core.String; }` getter?

Maybe it's okay, but consider the List case. It means we might shadow a name defined on Array.

[2016-02-12 17:12] jmesserly commented on #451
Oh, toString has the same problem, and noSuchMethod too.

@vsmenon had an interesting idea -- since most call sites are fine, we could just go to the extension type and find the method with its Dart name, then use Function.prototype.call to invoke them.

[2016-02-12 20:37] vsmenon commented on #413
The following now runs correctly for me as of #441:

[code]

[2016-02-12 20:37] #413 closed

[2016-02-14 03:00] kzhdev opened #454 "Unhandled exception"
Unhandled exception:
The null object does not have a getter 'value'.

NoSuchMethodError: method not found: 'value'
Receiver: null
Arguments: []
#0      Object._noSuchMethod (dart:core-patch/object_patch.dart:42)
#1      Object.noSuchMethod (dart:core-patch/object_patch.dart:45)
#2      ElementAnnotationImpl.constantValue (package:analyzer/src/dart/element/element.dart:1588)
#3      findAnnotation

[2016-02-14 03:40] kzhdev commented on #454
Created an issue in SDK repo:
https://github.com/dart-lang/sdk/issues/25779

[2016-02-14 03:47] #454 closed

[2016-02-15 16:42] ochafik commented on #397
I suggest we ship the following runtimes:
- Legacy (current, no destructuring)
- ES6 modules (no types): can be consumed today by tools like [rollup](https://github.com/rollup/rollup)
- Node modules (no types): will eventually be dropped when node supports ES6 modules
- TypeScript (Closure workarounds + ES6 modules + TS types + maybe non-reified generics?)

This should allow us to cover most of th

[2016-02-15 17:18] ochafik commented on #448
git's [sparse-checkout](http://jasonkarns.com/blog/subdirectory-checkouts-with-git-sparse-checkout/) might be helpful here: we'd need to run it 3 times (once in master - up to the last common commit - and once in each fork's branch), then maybe somehow rebase each branch on the last common commit...

[2016-02-16 18:38] jmesserly commented on #397
Nice writeup :)

I hope we can get rid of "legacy" in favor of one of the browser-friendly JS module patterns.

I like the "proposed layout" ... here's a few small tweaks:
Proposed layout:
- `lib/runtime/browser` (`./dart/_runtime.js`, `./dart_library.js`...)
- `lib/runtime/es6` (`./dart/_runtime.js`...)
- `lib/runtime/node` (`./dart/_runtime.js`...)
- `lib/runtime/typescript` (`./dart/_runtime.ts

[2016-02-16 18:42] jmesserly commented on #397
BTW, I presume "lib/sdk" is the current "tool/generated_sdk", not "tool/input_sdk", which is different.

To use "tool/input_sdk" we'd have to teach DDC how to handle _patch files. Which is doable, but not something that DDC currently understands (see tool/patch_sdk).

[2016-02-17 18:34] lukechurch commented on #442
cc

[2016-02-17 18:43] ochafik commented on #442
Chatted with @lukechurch about dartpad:
- Uses in-process analyzer, so strong mode linting might just be a matter of `new AnalysisOptionsImpl()..strongMode = true`
- Uses Analysis server for code completion: strong mode may or may not bring additional value there, but switching to it might be an "all-in" change
- Would be able to call into DDC if we provide a clean entry point function, not using

[2016-02-17 18:56] jmesserly commented on #442
Awesome! Sounds great to me.

[2016-02-17 19:25] jmesserly opened #455 "switch to new "isPotentiallyMutated" API for variables."
from @stereotype441:

We'll need to do this next Analyzer roll.

[2016-02-17 20:37] vsmenon opened #456 "async test now has error"
The recent analyzer upgrade is making travis red.  This is one of the two tests we're explicitly running.  It now has an error and it's not getting generated as a result:

Chrome 47.0.2526 (Linux 0.0.0) ERROR
  Uncaught Error: Library not found: language/async_star_test_none_multi
  at /home/travis/build/dart-lang/dev_compiler/lib/runtime/dart_library.js:16

I'll comment it out and tbr to get trav

[2016-02-18 10:31] ochafik opened #457 "Fast transpilation mode for development? (without analysis)"
I know DDC precisely adds more types, better static checks, etc, but I think it would be great to have a draft compilation mode for development that wouldn't even need analyzer or analyzer summaries for incremental compilation:
- Assume all types are dynamic (for codegen purposes, not for runtime checks),
- Use dcall/dsend *everywhere* (how much bigger would the code be? might be okay even if 5x..

[2016-02-18 18:26] jmesserly commented on #457
I don't understand what the user benefit is? Analyzer is fast. This can be seen in server mode. The only problem we have is cold starts -- and summaries are almost here to fix that.

I don't think it would be feasible. Analyzer is our entire front end: scanner, parser, resolver (import resolution, name binding, error checking). Type checking costs very little of that.

[2016-02-18 21:07] jmesserly commented on #289
actually moved to: https://github.com/dart-lang/sdk/issues/25578, the other bug turned out to not be strong mode specific

[2016-02-19 21:14] jmesserly commented on #288
actually merged into https://github.com/dart-lang/sdk/issues/25821

[2016-02-20 00:14] jmesserly commented on #301
An issue: generic types can subtype non-generic ones, e.g. `<T>() -> T <: () -> Object`. That makes the calling convention a bit tricky. Since the base method can be called without type parameters, we need to support two methods, like `o.m(x, y)` and `o.m$(int)(x, y)`.

Also, a cleaner syntax like `o.m.of(int)(x,y)` would be problematic because of how `this` works in JS.

Two method names is the b

[2016-02-20 00:21] jmesserly commented on #301
There's another family of solutions, where we try and pass the type parameters as optional parameters.
[code]
But that gets us into trouble with the already complex named & optional parameters.

[2016-02-20 00:34] jmesserly commented on #301
One thing to note, this problem won't come up for generic functions, or generic methods that don't override non-generic ones, or for other uses of universal function types:
[code]
In that case, there's an implicit instantiation. We can generate code to instantiate it.

I wonder if we'd be rejecting too much if we disallowed the generic-override-non-generic in strong mode. But those overrides do ma

[2016-02-22 16:40] vsmenon opened #458 "transformer tests frequently hanging on travis"
The transformer test appears to be hanging at the end for some reason:

https://travis-ci.org/dart-lang/dev_compiler/builds/110512663

Disabling for now.

@ochafik - can you take a look?

[2016-02-22 16:53] jmesserly commented on #458
I wondered if it was actually hanging, or if our tests happen to be running close to the 10 minute mark, and transformer test pushes it over the limit.

[2016-02-22 16:58] vsmenon commented on #458
As best as I can tell from the logs, it prints the last expected line every time.  I've never seen it hang locally though.

[2016-02-22 17:29] vsmenon commented on #458
Hmm, red again.  I think your right about timing.

The addition of dart:html (+ all the other dom libs) made are tests quite a bit slower, but pass/fail has been sporadic.

[2016-02-22 17:33] jmesserly opened #459 "generic methods should be able to override non-generic ones."
Split from https://github.com/dart-lang/dev_compiler/issues/301. Something like this should be supported (or we need to explicitly disallow it):
[code]
See comments starting from https://github.com/dart-lang/dev_compiler/issues/301#issuecomment-186463069.

Normally the subtyping relation is fine, because implicit instantiation can be generated as an explicit instantiation in the generated JavaScri

[2016-02-22 17:33] jmesserly commented on #301
For now I'm going to punt on the override-non-generic-with-generic case, and try to handle all of the "normal" cases. Split that out into https://github.com/dart-lang/dev_compiler/issues/459

[2016-02-22 19:39] Andersmholmgren commented on #459
I am already hitting this in the wild. As the annotations are missing on the Iterable methods of the collections package, those methods are not considered to be overriding those in the core dart package. So I get warnings for them

[2016-02-22 20:06] jmesserly commented on #459
Ah, that sounds like the reverse problem:

[code]

Having a non-generic override a generic is not allowed in either strong or normal mode. If you think about it, it's kind of like optional arguments. You can add optional parameters in a subtype, but you can't take parameters away:
[code]

The short term fix is to annotate the collections package.

We've discussed doing inference. Given my first ex

[2016-02-22 22:31] devoncarew opened #460 "exception when calling a javascript ctor via js interop"
It looks like the arguments need to be unwrapped (from discussion w/ @vsmenon). Stacktrace for context:

[code]

[2016-02-22 22:32] devoncarew opened #461 "strong mode issue in collection and string_scanner"
Probably not the best place to track this, but `package:collection` and `package:string_scanner` have some strong mode issues: http://dart-atom.github.io/dartlang/entry_dart_results.html.

[2016-02-22 23:04] #460 closed

[2016-02-23 00:11] vsmenon commented on #461
Here's a fix for string_scanner:

https://codereview.chromium.org/1722603005/

[2016-02-23 19:48] lukechurch commented on #442
@ochafik I spent a few minutes looking into this - it is pretty easy to get strong mode in.

However it seems that with strong mode on the analyzer is crashing a lot. Which version of analyzer should I be using - and whom should I filed bugs for? DDC or Analyzer?

Or am I jumping the gun completely?

[2016-02-23 20:18] leafpetersen commented on #442
This would be great to have, thanks for looking into it!  All strong mode crashes/bugs go in the sdk repo, area-analyzer.  You can add analyzer-strong-mode if you think it's strong mode specific, either way it will get triaged appropriately.  Stack traces are always helpful if possible.  DDC codegen bugs/crashes go in the DDC repo, but I presume that you're not there yet.

Assuming that you are ju

[2016-02-23 20:29] jmesserly commented on #442
@lukechurch I've very surprised to hear about "strong mode" crashes! Please send those our way ASAP, we have users starting to use strong mode in their IDE/command line, so those are serious issues.

https://github.com/dart-lang/sdk/issues/new

You can use this label to get our attention: https://github.com/dart-lang/sdk/labels/analyzer-strong-mode
Or CC myself or @leafpetersen

[2016-02-24 07:06] Andersmholmgren commented on #442
Or auto submit a crash report if analyser crashes in dartpad ;-)
On Wed, 24 Feb 2016 at 7:29 AM, John Messerly <notifications@github.com>
wrote:

[2016-02-25 15:21] vsmenon commented on #458
Hmm, my change does force resolution of dart:html even for tests that don't use it.  This may be slowing down the transformer tests.

[2016-02-25 16:55] vsmenon opened #462 "Annotate types that may be implemented / extended via a native class"
To generate types, we need to know if they are ever implemented via a native class.  Our current solution isn't modular / scalable.

These are non-native types discovered to be extended/implemented native.  We should annotate them:

[code]

[2016-02-25 16:55] vsmenon commented on #462
And, of course, validate them at compile time.

[2016-02-25 17:23] jmesserly commented on #458
Ah, yeah, that would do it.

In theory, we should be able to avoid this problem: if a library doesn't (transitively) depend on dart:html then we shouldn't need to know about it.

(We would still need to mark interfaces as being implementable by native types.)

[2016-02-25 17:24] jmesserly commented on #462
yup.

A lot of the HTML ones look internal to the HTML library cycle, right? So we could ignore everything under "dart.dom"

[2016-02-25 17:29] jmesserly commented on #462
also NativeTypedArray shouldn't be user-visible type
same with _interceptors, _js_helper, _internal

So the list of types this primarily affects is:
- dart.collection - ListMixin
- dart.core - Comparable
- dart.core - Iterable
- dart.core - List
- dart.core - Map
- dart.core - Pattern
- dart.core - String
- dart.core - bool
- dart.core - double
- dart.core - int
- dart.core - num
- dart.math - Rec

[2016-02-25 18:44] vsmenon commented on #462
The `dart.dom` types are exposed public, so we'd need to handle them similarly.  Probably makes sense to have a uniform annotation / mechanism.

E.g., '@NativelyImplementable'?  Better name ideas?

[2016-02-25 18:52] jmesserly commented on #462
@vsmenon -- I thought we weren't going to support user-defined implementations of DOM types?

There's a difference between something that can be *implemented* by a pure Dart type, vs something that's a native type we expose to Dart.

What I had imagined is:
* we have a small set of interfaces we allow native types to implemented (Iterable, List, Map, Pattern type of things).
* we have lots of nati

[2016-02-25 18:54] jmesserly commented on #462
just to be clear with an example, I'm concerned about:
[code]
To pick one obvious problem, JavaScript code and the DOM will not understand that type.

[2016-02-25 19:02] vsmenon commented on #462
Yeah, that's a very good point.  A potential problem here is:

[code]

So, perhaps `MayBeNative` and `MustBeNative` or something like that is an important distinction.

[2016-02-25 22:41] jmesserly commented on #457
FYI, Analyzer has summary support now, yay. I think we can tentatively close this

[2016-02-25 22:41] #457 closed

[2016-02-25 22:42] jmesserly commented on #426
believe this should be fixed now. Strong mode will infer it.

[2016-02-25 22:42] #426 closed

[2016-02-26 18:57] jmesserly opened #463 "null inference does not correctly handle catch body"
[code]
It's supposed to generate a null check for "x", but it doesn't:
[code]

[2016-02-26 18:58] jmesserly commented on #463
Discovered while I was refactoring the nullable inference code.

[2016-02-26 18:59] jmesserly commented on #463
This one is pretty easy. It's just not visiting the catch body.

There's an issue though, in that all variable initializers are going to get visited at least twice, when only one visit should be required. That's what I had originally set out to refactor.

[2016-02-26 19:12] jmesserly commented on #463
here's an example of a case that works, but is rather lucky :
[code]
It ends up recording "y = (x = null)", and it also ends up recording "x = null". A chain of assignments like `a = b = c = d = e` will record:

- a = b = c = d = e
- b = c = d = e
- c = d = e
- d = e

Then we'll visit all of those RHS to determine if they are nullable, and to record any dependency between variables. That said, we'

[2016-02-26 23:32] ferhatb commented on #252
Looks like DDC currently generates code with "normal" method names instead of symbols / computed properties, when trying to call methods on Element:

[code]

[2016-02-26 23:36] jmesserly commented on #252
Hey @ferhatb, I think this bug is obsolete (dart:html is supported). I'll open a new one for you.

[2016-02-26 23:36] #252 closed

[2016-02-26 23:37] jmesserly opened #464 "incorrect generation of DivElement.append with transformer"
From @ferhatb [comment](https://github.com/dart-lang/dev_compiler/issues/252#issuecomment-189525666):

[code]

[2016-02-26 23:38] jmesserly commented on #252
the new bug is https://github.com/dart-lang/dev_compiler/issues/464

[2016-02-26 23:40] jmesserly commented on #464
CC @vsmenon

[2016-02-26 23:41] ferhatb opened #465 "Typing of string concatenation broken"
Getting the following error:
[code]

From the following code:
[code]

(generated code refers to + method as `['+']`)

[2016-02-26 23:41] ferhatb commented on #465
cc/ @ochafik

[2016-02-26 23:43] jmesserly commented on #464
FYI -- I cannot reproduce this on master. Here is what I get (./bin/dartdevc.dart -o ~/tmp/ test.dart):
[code]
Perhaps we need to push out a new build?

@vsmenon's change to HTML was recent-ish. Before that we used a wrapper dart:html as a temporary workaround, which would not have used extension methods. That's my best guess.

Tentatively closing but let me know if you are seeing this on master/n

[2016-02-26 23:48] jmesserly commented on #465
That's intended for Dart types. However String should be using an extension method.

Looks to be several bugs here. For one, it should've used JS + directly so no JS implicit conversions are possible in this case.

FWIW, the output I see is:
[code]

[2016-02-26 23:52] jmesserly commented on #17
we ended up using member inference instead

[2016-02-26 23:52] #17 closed

[2016-02-26 23:53] jmesserly commented on #35
no plans for now

[2016-02-26 23:53] #35 closed

[2016-02-26 23:56] jmesserly commented on #38
moved to https://github.com/dart-lang/sdk/issues/25877

[2016-02-26 23:56] #38 closed

[2016-02-26 23:56] jmesserly commented on #59
fixed a while ago

[2016-02-26 23:57] #54 closed

[2016-02-26 23:57] #53 closed

[2016-02-26 23:59] jmesserly commented on #64
was fixed a while ago. example:
[code]
compiles to
[code]

[2016-02-26 23:59] #64 closed

[2016-02-27 00:00] jmesserly commented on #62
Closing for now. We've got more pressing issues than trying to remove the namespace qualifier

[2016-02-27 00:00] #62 closed

[2016-02-27 00:00] jmesserly commented on #66
moved to https://github.com/dart-lang/dev_compiler/issues/425

[2016-02-27 00:00] #66 closed

[2016-02-27 00:02] jmesserly commented on #77
the design here has been done and is now supported by dart:js (sharing most features with dart2js, dartium)

[2016-02-27 00:02] #77 closed

[2016-02-27 00:02] jmesserly commented on #76
Full summaries are here. We can start using them :)

[2016-02-27 00:02] #76 closed

[2016-02-27 00:03] jmesserly commented on #68
this is almost certainly obsolete

[2016-02-27 00:03] #68 closed

[2016-02-27 00:05] jmesserly commented on #127
Closing this out. Code has moved to Analyzer in any case :)

[2016-02-27 00:05] #127 closed

[2016-02-27 00:06] jmesserly commented on #135
Think the work here is done. Annotations found a good home.

[2016-02-27 00:06] #135 closed

[2016-02-27 01:35] sh4869 opened #466 "Failed to run server mode in windows"
In my windows 10(64bit), dartdevc cannot run in server mode.

[code]

[2016-02-29 21:03] jmesserly commented on #463
Few other things I've noticed:
* pre/postfix code was not kicking in (isAssignmentOperator is never true for `++`/`--`, isIncrementOperator is the correct check). I don't think this will affect things much, as usually it has no effect on nullability. The one case it would matter is user-defined operators.
* variable initializers weren't visited by the main assignment collector. This could lead to

[2016-02-29 23:05] ochafik commented on #463
For nested assignments, I guess when encountering `a = b = c` we could detect that the rhs is an assignment, then only record `a = b` and recurse on rhs, WDYT?

Re/ pre/postfix expressions, they go through a different code path than assignment ops (_LocalAssignmentsVisitor.visitPostfixExpression/visitPrefixExpression vs. visitBinaryExpression).

Variable initializers should be recursed onto in _Lo

[2016-03-01 06:32] ochafik commented on #458
Doesn't seem like the transformer tests were the cause, as travis still often times out despite them being [disabled](https://github.com/dart-lang/dev_compiler/commit/bb1b557746e379ede7b16d959ebf9831e34e0433) ([example](https://travis-ci.org/dart-lang/dev_compiler/builds/112072590)).

I'll send a PR to reenable them with some logs / separate envs to better isolate failures.

[2016-03-01 06:46] ochafik opened #467 "hello_app broken (dart:html regression)"
Repro:
[code]
Then open [http://localhost:8080/hello_app/web/](http://localhost:8080/hello_app/web/)

Expected: 'Hello, World' on the page
Actual: empty page
(note: does print the message well on the console, which means it's really a problem with [document.body.innerHtml = message](https://github.com/dart-lang/dev_compiler/blob/222fbdc73ec7c8d283ea053fbb7ab0e549814d39/test/transformer/hello_app/w

[2016-03-01 14:12] vsmenon commented on #467
I was hitting an issue with innerHtml independently yesterday.  As best as I can tell, innerHtml has been broken since I landed the full dart:html - at least my local test.

That's odd as the e2e test was still running and passing locally for me for a bit after landing the new dart:html.  We only disabled due to travis occasionally hanging.

[2016-03-01 14:17] vsmenon commented on #467
When I run the transformer test locally, I get:

[code]

Any ideas what that's about?

[2016-03-01 15:50] ochafik commented on #467
Oh, that's a bug in the e2e test, it needs to run `pub upgrade` instead of `pub get` ([at this line](https://github.com/dart-lang/dev_compiler/blob/master/test/transformer_e2e_test.dart#L72)). Only happens locally, fixed in https://github.com/dart-lang/dev_compiler/pull/468

[2016-03-01 16:35] vsmenon opened #469 "Element.innerHtml is broken"
It appears to crash in validation code.  It also appears to have regressed with the recent `dart:html` overhaul.

[2016-03-01 16:36] vsmenon commented on #467
Okay, I'm looking into the `innerHtml` issue:

https://github.com/dart-lang/dev_compiler/issues/469

[2016-03-01 17:28] vsmenon opened #470 "Interpolation needs to call dart.toString"
I've been hitting an issue in our error code in `core.js` where the following line throws an exception when `_memberName` is a symbol:

[code]

The original code is:

[code]

The error is:

[code]

Should we explicitly call `toString` when we generate interpolation (possibly suppressing on primitives)?

[2016-03-01 17:48] jmesserly commented on #470
BTW, it looks like [NoSuchMethodError](https://api.dartlang.org/1.14.2/dart-core/NoSuchMethodError-class.html) actually wants a *Dart Symbol*, which is even more confusing. :)

Dart symbols are semantically different from JS ones. JS ones being a lot more useful/powerful. Although I suppose would *could* treat our extension method JS Symbols as being equivalent to Dart Symbols of the same name. Wh

[2016-03-01 17:51] jmesserly commented on #467
Hmm. That might be a `pub get` bug. There shouldn't be a difference between "get" and "upgrade", other than upgrade trying to find the very latest version. @munificent might know?

[2016-03-01 17:51] vsmenon commented on #470
Yeah, that's it exactly.  We're passing in a JS symbol instead.

[2016-03-01 20:35] vsmenon commented on #465
Looks like cloning / resolution copy is not preserving the type on an AdjacentStrings node.  This should be fixed upstream, but I can add a temp fix in ddc.

[2016-03-01 20:47] vsmenon commented on #465
Local fix:

https://codereview.chromium.org/1756563002/

[2016-03-01 21:01] #469 closed

[2016-03-01 21:08] #465 closed

[2016-03-01 22:09] jmesserly commented on #463
https://codereview.chromium.org/1751963002/ fixes some.

Few things I didn't get to yet:
* smarter nested assignments
* only running analysis at function/method level
* isNullable can be improved in various ways, e.g. it doesn't seem to handle InstanceCreationExpression, identical at the moment
* we could also know that a lot of SDK methods won't return null. But non-null types is probably the rig

[2016-03-02 00:44] #463 closed

[2016-03-02 01:41] leafpetersen opened #471 "Failing language tests against bleeding edge analyzer"
Running DDC at 507d3c541ae56afe4a5ad0f2304b3002981bb228 with dependency overrides to bleeding edge analyzer at 02f888711ce671b0d6e97e6f449017248e92dd33

I see language test failures on

language cascade2_test
compile_time_constant8_test

[2016-03-02 02:53] ochafik commented on #465
Thanks guys!

[2016-03-02 16:40] sethladd opened #473 "STRONG_MODE.md doesn't link to generic methods"
Having a hard time finding our generic methods docs. I searched for "dart generic methods strong mode" but nothing came up. :(

Maybe we can add a link/note to STRONG_MODE.md ?

[2016-03-02 16:50] vsmenon commented on #473
Just added it in to the STRONG_MODE doc at the top.

[2016-03-02 16:50] #473 closed

[2016-03-02 16:58] sethladd commented on #473
Cool, thanks!

[2016-03-02 22:20] jmesserly commented on #471
looking into these now

[2016-03-02 22:25] jmesserly commented on #471
Our upward inference for list literals is too smart. Had to add explicit `<dynamic>` to keep the spirit of these tests :)

[2016-03-02 23:11] jmesserly commented on #466
Oh nice, did you have any luck on getting this to work?

[2016-03-02 23:15] sh4869 commented on #466
Sorry, I missed.

[2016-03-02 23:31] jmesserly commented on #466
Ah, okay. Thanks for filing. It's good to have a bug report so we remember to look into it. :)

I'm not sure what is going on, but from the stack trace (createStaticHandler) it might be an issue with the "shelf_static" package.

[2016-03-03 00:13] jmesserly commented on #470
Update: I think Vijay fixed the nSM bug but we still have an issue with using tagged template for toString, if we aren't already doing that.

[2016-03-03 00:56] sh4869 commented on #466
I think path should be `'C:\Users\Nobuhiro\Documents\Develop\Dartlang\devctest'` but [this](https://github.com/dart-lang/dev_compiler/blob/master/lib/src/compiler.dart#L389-L409) getter return `'/C:\Users\Nobuhiro\Documents\Develop\Dartlang\devctest' ` , so error occured.

[2016-03-03 19:32] #471 closed

[2016-03-04 13:02] sh4869 commented on #466
I try to fix this problem in this [commit](https://github.com/sh4869/dev_compiler/commit/919499494644a78f6e873d281dabd3705e013deb), and this error doesn't occur.

But different error occured.   :(

[code]

[2016-03-04 13:58] sh4869 commented on #466
Sorry, I tried to slove this problem, but I can't. :pensive:

[2016-03-04 14:10] vsmenon commented on #466
Hmm, it looks like the problem is this line:

https://github.com/dart-lang/dev_compiler/blob/master/lib/src/codegen/js_printer.dart#L126

This:
[code]

should probably be:

[code]

[2016-03-04 14:19] sh4869 commented on #466
You mean
[code]
? I tried to replace this code, but error occured...

[2016-03-04 14:56] vsmenon commented on #466
Right sorry.  Same stack trace as before?

[2016-03-04 15:10] sh4869 commented on #466
Yes. BTW, Please let me ask a question.
Should `_makeRelativeUri` function return like `http://localhost:8080/main.dart`?

[2016-03-04 15:13] sh4869 commented on #466
``src.path`` is Uri, so I replace this line:

https://github.com/dart-lang/dev_compiler/blob/master/lib/src/codegen/js_printer.dart#L127

[code]

↓

[code]

And running program, that error doesn't occured, but different problem occured.

[code]

[2016-03-04 16:29] vsmenon commented on #466
Hmm, you may be able to avoid this code path by suppressing source map generation: `--no-source-maps`

I'm also suspicious of this line:
https://github.com/dart-lang/dev_compiler/blob/master/lib/src/compiler.dart#L436

Given the path in your exception, we seem to be deciding that inputBaseDir is `c:\`.  That's not good.

It probably should be: `C:\Users\Nobuhiro\Documents\Develop\Dartlang`.

[2016-03-05 00:25] sh4869 commented on #466
I used `--no-source-maps` option, and still [this](https://github.com/dart-lang/dev_compiler/issues/466#issuecomment-192317117) issue occured.

[2016-03-07 17:34] #109 closed

[2016-03-07 17:35] jmesserly opened #474 "code coverage numbers have dropped"
was: 73% https://coveralls.io/builds/5265627
then: 53% https://coveralls.io/builds/5266712

it looks like it is including a bunch of dependency_overrides/analyzer files at 0%

@ochafik any ideas on this? if not I can take a look

[2016-03-07 21:29] ochafik opened #476 "hello_app transformer test broken"
Broken since [latest analyzer sync](https://travis-ci.org/dart-lang/dev_compiler/builds/113485784).

Somehow, LibraryElement instances now collide in _compilationRecord map, causing libraries to not be generated (the first one is recorded as "true" / successful, which is picked up for all the others).

Doesn't seem to happen when running in CLI, so might be due to how the analyzer:
[code]

[2016-03-07 21:41] ochafik commented on #469
Note that while it doesn't crash, it doesn't seem to work either.
[code]

[2016-03-07 21:42] ochafik commented on #467
This is getting worse: still no innerHtml display (#469 not fixed?), and now even the `print` statement is broken (just prints `undefined`).

[2016-03-07 21:48] vsmenon commented on #469
@ochafik the above is working fine for me.  E.g., naming the above `foo.dart`, this works:

[code]

Feels like you have an old `dart:html`.  Do you need to delete a `pubspec.lock`?

[2016-03-07 21:52] ochafik commented on #469
Oh! Seems that it works well in command line, but not in the transformer...
[code]
vs.
[code]
(as if it didn't recognize that dart:html is from the sdk, somehow? I probably have messed up the URI somehow, but it used to work)

[2016-03-07 21:53] ochafik commented on #469
Seems to be the same as #464, reopening it from a transformer angle.

[2016-03-07 22:18] ochafik commented on #464
Reopened as transformer-specific issue. On first look, might be that the sdk is resolved to the system sdk. Lowered priority as it's just happening for the transformer.

[2016-03-07 22:38] ochafik commented on #397
Yes, shortened `tool/generated_sdk` but maybe best to keep it fully explicit.

[2016-03-09 21:02] jmesserly opened #477 "improve how DDC finds its runtime files"
Right now we do something incredibly hacky:
https://github.com/dart-lang/dev_compiler/blob/4b57101ea760a9f2589da63ac7ca29e4b87dc04f/lib/src/options.dart#L362

I tried to use the Resource package, but it doesn't look like it will work for our use case. Among the problems:
- it only offers an asynchronous API
- we use the file modification time, which is not accessible
- it'd be nice to use director

[2016-03-11 16:26] vsmenon opened #478 "Transformer set up appears to be broken"
The transformer set up is getting the wrong version of sdk libraries.   The transformer bot is marked as ok-to-fail right now.

We should put fixing this on hold though until we work out the modular build:

https://github.com/dart-lang/dev_compiler/issues/439

[2016-03-11 16:27] vsmenon commented on #476
Merging into #478

[2016-03-11 16:27] #476 closed

[2016-03-11 16:27] vsmenon commented on #467
This is a transformer issue.  Merging into #478

[2016-03-11 16:27] #467 closed

[2016-03-15 15:23] vsmenon opened #479 "Runtime does not properly cast classes that implement call to Function"
We get a cast error on the following code:

[code]

Note, the level of indirection through `dynamic` is needed to force the runtime check.  Without it, the code works.

As written, the assignment of `foo` to `f` forces a check, and we're not handling that correctly.

[2016-03-15 16:21] jmesserly commented on #479
it's interesting it fails on the cast. It might fail as well on the actual call -- I don't think we support codegen for objects with call methods yet.

[2016-03-15 17:13] #479 closed

[2016-03-16 17:01] jmesserly commented on #478
I'm guessing we can close this one for now. When we reimplement on top of the new build package, we should be able to address this.

[2016-03-16 17:01] #478 closed

[2016-03-16 17:01] jmesserly commented on #464
I'm guessing we can close this one for now. When we reimplement on top of the new build package, we should be able to address this. (the root cause is probably https://github.com/dart-lang/dev_compiler/issues/478)

[2016-03-16 17:01] #464 closed

[2016-03-16 17:01] jmesserly commented on #458
should be able to close this one for now

[2016-03-16 17:01] #458 closed

[2016-03-16 17:35] ochafik opened #480 "Strong-mode errors in common pub packages"
This is an umbrella issue to keep track of packages that need an update before we can compile "real-world" angular2 applications:

- [ ] [package:angular2](http://pub.dartlang.org/packages/angular2) (https://github.com/angular/angular/issues/7356)
- [x] [package:collection](http://pub.dartlang.org/packages/collection) (https://github.com/dart-lang/collection/issues/23)
- [x] [package:protobuf](htt

[2016-03-16 21:10] vsmenon commented on #480
@skybrian

[2016-03-17 14:51] ochafik commented on #480
Note: even when projects are made clean, would be nice to ensure they remain that way. Quiver already runs the analyzer in travis (just needs `--strong` after it's fixed), but we may want to suggest a config like the following (untested) for the other projects:
[code]
@leafpetersen WDYT? (this allows for some temporary dev breakages)

[2016-03-17 16:52] leafpetersen commented on #480
Looks reasonable, but I don't know enough about travis to be sure about some of the details.  Are there any potential issues with generated files not being present, or will they be built at that point if required? Will all of the packages have been downloaded at that point so that resolution will succeed?

@bwilkerson will the analyzer do the right thing if you point it directly at a part file (i.

[2016-03-17 17:30] skybrian commented on #480
For protobuf we're using buildbot [1]. Is there a good way to run the analyzer there?

[1] https://github.com/dart-lang/dart-protobuf/blob/master/.test_config

[2016-03-17 17:33] ochafik commented on #480
Not sure TBH, but [analyzer_cli](https://github.com/dart-lang/analyzer_cli) seems to have both buildbot & travis configured.

[2016-03-17 22:35] ochafik commented on #480
@leafpetersen Re/ package resolution, I believe [Travis' Dart config runs `pub get`](https://docs.travis-ci.com/user/languages/dart) in one of its setup phases (prolly `install` or `before_script`, see [lifecycle doc](https://docs.travis-ci.com/user/customizing-the-build/#The-Build-Lifecycle)). Any other codegen would have to be listed explicitly in the `.travis.yml` config.

[2016-03-17 23:45] devoncarew commented on #477
I've used the constraint string technique in stagehand. It does work, but that's about the best you can say about it.

You could also recognize that you're running in a `pub global activate` context, and load your resources out of the pub_cache. The https://pub.dartlang.org/packages/pub_cache package gives you an API to introspect the pub cache -

[2016-03-17 23:50] devoncarew opened #481 "not all output written as node modules"
Not all the output files are written as node modules. When running this command:

[code]

All my app code is compiled into node modules, and the referenced packages, but the runtime code (<output>/dev_compiler/runtime/**) still uses DDC's proprietary format. The modules are a mix of different types, which seems odd and probably won't work great at runtime. Is there another setting, or some other s

[2016-03-18 00:37] jmesserly commented on #481
yeah for the moment you'd have to compile the SDK. node_test does something like that:
https://github.com/dart-lang/dev_compiler/blob/master/tool/node_test.sh

it's not a great situation. Essentially this is https://github.com/dart-lang/dev_compiler/issues/397 (with https://github.com/dart-lang/dev_compiler/issues/257 making it tough to solve).

[2016-03-18 00:37] jmesserly commented on #481
BTW, I think destructure-named-params is off by default.

[2016-03-18 07:31] a14n commented on #480
Exactly, `pub get` is done at `install` phase ( see https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/dart.rb#L82-L86 )

[2016-03-18 15:25] vsmenon commented on #443
This is fixed.

[2016-03-18 15:25] #443 closed

[2016-03-21 16:57] vsmenon opened #482 "custom formatter in dev tools code appears broken"
I'm seeing the following in ng2 TODO with custom formatters enabled:

[code]

@jacob314

[2016-03-21 21:12] munificent commented on #166
[This patch](https://codereview.chromium.org/1823793002/) along with my previous patch for better for-in checking should, I hope, ensure the right errors are reported and casts are added to the AST. Here's what analyzer should give you:

[code]

This does a dynamic cast of `bogus` to `Iterable<dynamic>`. No cast for `x` since it's dynamic.

[code]

Static error since we do nominal checking of for-

[2016-03-21 21:26] jmesserly commented on #166
Hmm, nowadays shouldn't we push the type down via member override inference? Otherwise this would be an error:
[code]

[2016-03-21 21:29] leafpetersen commented on #166
Yeah, I think we're inferring the return type of iterator for you.  So there is (or should be) an implicit cast being inserted around the return of bogus.

[2016-03-21 21:34] munificent commented on #166
Ah, well, that's handy. Though I suppose you could go out of your way to confound that by using an explicit `dynamic` annotation on `iterator`?

[2016-03-21 21:44] leafpetersen commented on #166
That would be an invalid override.

[2016-03-29 21:42] jmesserly opened #483 "generator issues on chrome canary"
Chrome Canary on Travis has a slightly newer build than my mac. It might be coincidence, but it seems to have a new generator-related failure: https://travis-ci.org/dart-lang/dev_compiler/jobs/119365119
[code]

This could be a V8 bug, as many of our generator tests are passing, and the failures are sometimes in very simple cases:
[code]

it's still passing on Electron. `51.0.2693.2` seems to pass,

[2016-03-29 22:35] jmesserly commented on #483
NOTE: I might be wrong about which test is failing. In this log it looks like different failures:
https://travis-ci.org/dart-lang/dev_compiler/jobs/119365119

That could either support the V8 bug theory (flaky codegen?) or it could mean we have a few tests that are consistently failing, due to incorrect use of generators, and it is simply the log that is misleading.

[2016-03-31 23:28] kzhdev opened #484 "Unhandled exception"
I updated dev_compiler to 0.1.23 today, but get an unhandled exception:

Unhandled exception:
Invalid argument(s): join(null, "harmony_feature_check.js"): part 0 was null, but part 1 was not.
#0      _validateArgList (package:path/src/context.dart:572)
#1      Context.join (package:path/src/context.dart:210)
#2      join (package:path/path.dart:225)
#3      BatchCompiler._copyDartRuntime (package:

[2016-03-31 23:53] vsmenon commented on #484
What is your command line invocation look like?

[2016-04-02 13:54] kzhdev commented on #484
@vsmenon

dartdevc -o ~/repo/adl_js/dev_compiler/js  web/adl_app_controller.dart

[2016-04-04 09:37] floitschG opened #485 "Usage document doesn't say how to run output"
The usage document explains how to compile an executable, but doesn't say how to run it.
Just pointing d8 at the generated file doesn't work.
The document also mentions `--server`, but my version (the most recent via `pub global activate`, or via `git clone`) doesn't support that option.

[2016-04-04 13:42] vsmenon commented on #485
The usage doc is now out of date as of 0.1.22:

https://github.com/dart-lang/dev_compiler/blob/master/CHANGELOG.md

Both the server code and the node runner code have been removed while we rework the core compiler to be modularly invocable from bazel, etc.  We may add them back in or use something like package:build if that makes sense.

You should still be able to point at an html file with a dar

[2016-04-07 19:17] jmesserly opened #486 "virtualField helper does not understand "final" fields"
When you override a getter/setter with a field, we use the "dart.virtualField" helper.
It always "induces" a getter and a setter. But for final fields, the setter should either not exist, or forward to the base setter (if there was one).

FWIW, there's also some logic already to look for an existing property, I'm not sure why it does that.

CC @vsmenon who caught this

[2016-04-07 19:18] jmesserly commented on #486
Oh, and apparently you can declare a final field and a setter in the same class. So we'll need to be careful about that too

[2016-04-08 17:26] jmesserly opened #487 "NodeList is now JS iterable"
In Chrome Canary you can do something like `document.body.childNodes[Symbol.iterator]()` and you'll get an iterator. According to @vsmenon this creates a problem when we mixin ListMixin into the native NodeList (via registerExtension).

I'm not sure how we are avoiding this problem for native arrays, but presumably we're doing something, so maybe we can extend that approach :)

[2016-04-08 17:27] jmesserly commented on #487
Oh and it's worth double checking native Array that we aren't stomping on Symbol.iterator with our own (slow) version.

[2016-04-10 04:35] kzhdev commented on #484
@vsmenon

I found out that dartdevc with version 0.1.21 is installed with dart. That is conflict with the one I installed through 'pub global activate dev_compiler' and caused this exception.

[2016-04-10 04:35] #484 closed

[2016-04-11 17:04] jmesserly opened #488 "Object.toString broken?"
we seem to have this workaround:
[code]

Surely the fix belongs somewhere else... not to mention, won't this break the default `toString()` for all other objects?

Apparently I missed this in the original review discussion: https://github.com/dart-lang/dev_compiler/commit/59a85c5495c2c8fffe913d604d64582a7202ead7

looks like we might have a lot to clean up w.r.t. throw and stack traces.

[2016-04-11 20:30] jmesserly commented on #245
yeah, just wanted to add an update: this is something we're definitely doing, only question is when it happens. Probably after we've gotten the Dart language tests and modular compilation in a good place.

[2016-04-11 23:01] jmesserly commented on #245
and SDK issue is https://github.com/dart-lang/sdk/issues/24679

[2016-04-12 01:33] ochafik opened #489 "Extra parentheses / precedence issue with metalet?"
[code]
Compiles very lispily:
[code]

[2016-04-12 18:11] jmesserly opened #490 "only one of a top-level getter/setter pair works in some conditions"
This bug has been mostly hiding, because we were intelligently grouping top-level properties and defined them together. I'm simplifying things and got rid of that readability optimization (it's a neat optimization but we should implement it differently), but as a consequence, it exposed the bug that we try and define the getter/setter separately, and as a result the last one wins.

I'm working on

[2016-04-12 18:12] jmesserly commented on #490
CC @vsmenon in case you hit something like this

[2016-04-12 20:22] jmesserly opened #491 "dcall broken on null"
we immediately do this: `let ftype = dart.read(f);`

.... which tries to read a symbol on null/undefined, and fails. Needs to be fixed

[2016-04-13 16:40] jmesserly opened #492 "re-exports as part of a library cycle do not work in some cases"
If you re-export all names from a library, then within the same library cycle refer to it, you may hit ordering issues.

This is fixable but we'll need to be willing to export names individually. The current approach was trying to optimize readability of re-exporting everything, but that causes an unnecessary data dependency.

[2016-04-13 18:25] jmesserly opened #493 "strip annotations when building the SDK to JS"
it's extra overhead for no benefit. Especially bad for dart:html with its dart2js annotations

[2016-04-13 19:36] jmesserly commented on #492
oh, I think it may actually have been working in the current code, by a combination of interesting invariants. Closing for now unless I can find a repro

[2016-04-13 19:36] #492 closed

[2016-04-13 19:37] jmesserly commented on #492
Or rather, it worked with an explicit "show" but not otherwise.

[2016-04-14 17:53] jmesserly commented on #487
I'm adding in a workaround thanks to @vsmenon ... need to follow up on a real fix though. As it is, we're overwriting the native iterator (super bad). I hope we aren't doing this for Array.

[2016-04-14 17:59] jacob314 opened #494 "Spurious dev compiler errors on native classes"
final fields on native classes do not need to be initialized.

Classes with the internal only `@Native` annotation should not generate the
FINAL_NOT_INITIALIZED_CONSTRUCTOR_N errors.

Examples:

warning: [FINAL_NOT_INITIALIZED_CONSTRUCTOR_1] The final variable 'origin' must be initialized
(dart:html, line 177, col 3)
+warning: [FINAL_NOT_INITIALIZED_CONSTRUCTOR_1] The final variable 'labels' must

[2016-04-14 18:04] jmesserly commented on #494
that sounds like a message coming from Analyzer? DDC does not issue warnings itself

[2016-04-14 19:38] jmesserly commented on #455
this was done a while back

[2016-04-14 19:38] #455 closed

[2016-04-14 19:38] jmesserly commented on #439
this is now done.

[2016-04-14 19:38] #439 closed

[2016-04-14 19:39] donny-dont commented on #439
:confetti_ball: awesome work @jmesserly!

[2016-04-14 22:09] jmesserly commented on #494
moved to https://github.com/dart-lang/sdk/issues/26270

[2016-04-14 22:09] #494 closed

[2016-04-14 22:11] jmesserly commented on #301
fyi, digging into this again.

[2016-04-15 00:28] jmesserly commented on #490
fixed this :)

[2016-04-15 00:28] #490 closed

[2016-04-15 01:18] jmesserly opened #495 "package summaries are not working yet"
We seem to get a crash in InputPackagesResultProvider. Maybe I didn't set something up right?

This is using the branch https://github.com/dart-lang/dev_compiler/tree/fix_summaries. The master branch doesn't set up the context to load them at all.

CC @sigmundch ... we think there may be another bug with how package URIs are working. Also ".sum" vs ".strong.sum", as DDC only strips one file extens

[2016-04-15 15:47] vsmenon commented on #490
John, the bug I was hitting was this:

[code]

Is this what you fixed?

[2016-04-15 16:50] vsmenon commented on #490
Ahh, sorry, misread - this is about instance getter / setters.  I'll file a separate bug for this.

[2016-04-15 16:58] jacob314 opened #496 "Using void in a generic function throws."
Repro:
[code]
crashes the dev compiler. It would be nice to support this case but reasonable to just report an error instead of crashing.
[code]

[2016-04-15 16:59] vsmenon opened #497 "Instance setter / getter masking base class"
The following code is broken in DDC.  The setter in `B` masks the getter in `A`.  Similarly, a setter only would mask a getter.

[code]

[2016-04-15 17:03] vsmenon opened #498 "Support new JS annotation correctly"
I've seen the following code:

[code]

Presumably this works in Dartium and Dart2JS?  It breaks in DDC.

@jacob314

[2016-04-15 17:05] vsmenon commented on #253
Another case popping up in customer code:

[code]

[2016-04-15 17:10] vsmenon opened #499 "Using super in an async method breaks"
This results in code that does not parse in V8.  V8 complains about an illegal `super`.

[code]

I can work around by creating a non-async helper method that forwards to the super class.

[2016-04-15 17:10] jmesserly commented on #490
yeah that's a different but related bug :)

[2016-04-15 17:12] lrhn commented on #499
Is this dart2js or DDC?

[2016-04-15 17:13] vsmenon opened #500 "We don't support Map.unmodifiable and List.unmodifiable"
Probably our SDK is too old - I assume this was a recent add?

[2016-04-15 17:17] vsmenon opened #501 "Don't generate super for field accesses"
The following Dart generates ES6 with a super call to access the field `x`.  That is erroneous.

[code]

The example above prints `undefined`.  If I change the dart source to use `this.y` instead of `super.y`, it works fine.

It appears that the generated ES6 code should generate `this.x` instead of `super.x`.  We know statically it's a field.

[2016-04-15 17:18] jmesserly commented on #496
Yeah generic methods aren't implemented in DDC yet :)
Tracking bug for that https://github.com/dart-lang/dev_compiler/issues/301

But I think this is unrelated, my guess is Dart Analyzer will reject this in strong mode. I'll file it over at SDK repo

[2016-04-15 17:21] vsmenon commented on #499
DDC.  I assume it works in dart2js (or at least compiles the code to
something that parses - no idea if it is actually used at runtime in the
app I'm looking at :-).

On Fri, Apr 15, 2016 at 10:12 AM, Lasse R.H. Nielsen <
notifications@github.com> wrote:

[2016-04-15 17:23] jmesserly commented on #496
moved to https://github.com/dart-lang/sdk/issues/26275

BTW I think your stack is a reasonable bug to re-file if you can figure out a repro for it. Since it crashed in visitBinaryExpression and it was due to an unnamed identifier I'm guessing it was not related to "void"

[2016-04-15 17:23] #496 closed

[2016-04-15 17:32] jmesserly commented on #499
ah, yeah, that's not too surprising. It desugars to `function*` and unlike `=>` it probably doesn't support `super`.

I think we might've had similar issues with anything that uses `.bind(this)` ... from a quick search, visitFunctionDeclarationStatement has a similar problem (it is completely unnecessary there, we could've used `=>`).

[2016-04-15 17:34] jmesserly commented on #499
yeah, something like that is probably the solution for us too in code_generator :)

[2016-04-15 17:39] jmesserly commented on #501
On the bright side, that's an easy fix :)

[2016-04-15 17:54] vsmenon opened #502 "dynamic calls on some operators seems broken?"
The following Dart:

[code]

generates this:

[code]

which, at runtime, triggers:

[code]

It's fine if `inRange` parameters are typed.

[2016-04-15 23:27] floitschG opened #503 "DDC generates invalid const objects."
It must always be possible to allocate const objects at compile-time.
DDC doesn't respect this property:
[code]

In this example DDC will happily create two different 'const' instances in the `bar` function. It would be trivial to change the code to generate an infinity of different "const" objects (since the number of generic types is unbound in Dart).

Generated code:
[code]

[2016-04-15 23:30] floitschG commented on #503
Note that this could have important implications, since the following (now valid) code wouldn't be valid anymore:

[code]

[2016-04-16 00:01] leafpetersen commented on #503
Yes.  In DDC, const objects are hash-consed at runtime rather than at compile time, to deal with this exact issue.  Since strong mode won't let a `Foo<dynamic>` masquerade as a `Foo<NotDynamic>`, you need to be able to create `const Foo<T>` inside of a generic class if you want to get a usable `Foo` object out.  The `EmptyIterator` case is an example of this.

As we look at implementing strong mod

[2016-04-16 16:40] vsmenon commented on #503
There are two things happening here.  Consider a slightly modified example:

[code]

In DDC, this will print:
[code]

Where as the VM and dart2js will print:
[code]

So, the two things:

- DDC is canonicalizing at runtime (the `dart.const` helper).  Because of this, the first print returns true.
- Strong mode is doing contextual inference on the call to `const A()` and inferring an `const A<T>()`

[2016-04-16 19:25] lrhn commented on #503
So strong mode changes `const A()` to `const A<T>()`, and the latter isn't a valid compile-time constant expression - but because the former is, and that's the actual syntax, the compiler accepts it anyway. The result is, predictably, inconsistent.

[2016-04-16 19:53] vsmenon commented on #503
Yeah, options aren't great in general.  In this case, it may be better to reject the code as `A<dynamic>` can't be used soundly as an `A<T>`.

[2016-04-18 16:36] vsmenon opened #504 "Need unique js library names"
If I have:
foo/index.dart:
[code]
bar/index.dart:
[code]

and I compile together, e.g.,:
[code]
I end up with:

[code]

Note that the two exports at the end stomp on each other.

[2016-04-18 16:38] vsmenon commented on #504
@jmesserly Should we make the export name relative to some top-level?  This should work nicely for packages (e.g., imagine foo and bar are directories under lib).

[2016-04-18 17:34] leafpetersen commented on #503
This is really a language issue: DDC is just implementing the current strong mode semantics.  I've opened a bug here https://github.com/dart-lang/sdk/issues/26291 for discussing this, closing this one.

[2016-04-18 17:34] #503 closed

[2016-04-18 17:39] jmesserly commented on #504
Hmmm, that's a tricky one. Relative paths are a very tricky thing to get right, though: what is it relative to? For packages, we have an answer. Otherwise it's pretty hard. Maybe we can assume files are always in a "package structure" of some sort (either as part of Bazel setup or pubspec.yaml).

Once we have that figured out, there's the question of how we encode this in JavaScript. Do you want t

[2016-04-18 17:44] jmesserly commented on #504
Another problem we'll hit: what if I ask DDC to combine multiple packages together: `dartdevc compile -o something.js package:foo/foo.dart package:bar/bar.dart`. Is that supported, or not? If it is, how do we represent that?

If we can assert package == module, then we can instead treat these as essentially two JS modules, so it's invalid to compile them together. Instead this you need compile+lin

[2016-04-18 17:51] jmesserly opened #505 "command UI only has one command"
The new modular compile uses the commands package in arg:

`dartdevc compile -o module.js foo.dart bar.dart`

the idea was if we add `build` or `watch` or `serve`, it makes sense to have a different set of options for those commands (e.g. a compiler should't take a server URI/port as an option :) ). But in recent discussions, we've started to think if maybe those are different entry points, in whi

[2016-04-18 17:52] jmesserly commented on #505
CC @vsmenon for thoughts. This is not an urgent one though, just something to think about.

[2016-04-18 17:53] jmesserly commented on #505
Part of my thought here, I can't think of a lot of other modular compilers that have a full command split (unlike, say, package managers or version control systems where it is very popular). Probably best to stick with existing conventions.

[2016-04-18 17:53] vsmenon commented on #501
I oversimplified the bug.  I've updated the example in the first comment.

[2016-04-18 18:04] vsmenon commented on #504
The `.` syntax looks nice.  Are you concerned about perf with multiple levels of dereference?  Any other characters work?

We could do this wrt a (passed in?) common dir.  If that defaults to the package's lib directory, that works out nicely.  If not, the user can set something else I suppose.

[2016-04-18 18:29] jmesserly commented on #504
Hmm good question. Normally in JS properties any char is valid:
[code]
[code]
That said, ES6 export will restrict this to legal identifiers, I'm pretty sure.
And there's also the question of to what extent we're matching/violating expectations on the JS side.

One downside of dotted names is how they look at the declaration side:
[code]
They do look good at the usage sites though.

The dotted nami

[2016-04-18 20:22] jmesserly commented on #504
@vsmenon and I chatted about this ... here's our idea for a starting point:

* top-level libraries are top-level exports (e.g. package:foo/foo.dart and package:foo/bar.dart are exported as "foo" and "bar")
* other libraries are available via some scheme, but are not as convenient to get to. (e.g. it could even be a helper like `dart.import('package:angular/src/index.dart')`) ... this is definitely

[2016-04-18 20:24] jmesserly commented on #495
this is fixed now. it was not setting up the URI resolver correctly, so we got in a weird state where we tried to provide results even though it was a FileBasedSource (instead of an InSummarySource)

[2016-04-18 20:24] #495 closed

[2016-04-18 20:25] jmesserly commented on #486
P1 because I believe this was hit in Angular

[2016-04-18 20:54] jmesserly commented on #504
We also have a problem with a few of our well known names like "dart" and "dartx"
(and some packages, e.g. Analyzer do have library names like "dart.dart")

[2016-04-18 21:36] vsmenon commented on #483
This was a transient Chrome bug I think.

[2016-04-18 21:36] #483 closed

[2016-04-18 21:44] #501 closed

[2016-04-19 14:46] vsmenon opened #506 "Unimplemented methods in dart:html"
These appear to come from dart:html.  See `convertDartClosureToJS` below.  That one comes up in angular apps (and I think should just be a no-op in DDC).  I haven't hit the others yet.

[code]

[2016-04-19 14:49] vsmenon opened #507 "Update DDC dart:html to match version in SDK"
I'm hitting at least one inconsistency.

The `requestAnimationFrame` callback name changed from:
[code]
to
[code]

If we compile against the new SDK, run against the new one, and require a runtime type check, we break on `FrameRequestCallback` being undefined.

[2016-04-19 15:30] vsmenon opened #508 "dynamic calls to private members on extension classes don't work"
For extension types (type that are or may be native), we install private symbols to avoid visible prototype changes.  On a dynamic calls, we use the `canonicalMember` helper to convert names to symbols if needed.  It appears we're sometimes calling it with a JS Symbol instead.  We need to either:

(1) Fix the codegen to only invoke with a String name
(2) Fix the helper to allow a Symbol.

[2016-04-19 15:33] vsmenon opened #509 "Trap on common errors"
The debugging experience, especially for large apps, is much better if we automatically trap on certain errors.

Catch on all exceptions doesn't seem to work well with Angular2 - they explicitly throw to record stack traces.  One alternative is to make that work.

Another is to trap on explicit Dart errors (NullValue, NSM, Cast) - but this misses cases where we rely on the JS implementation to thr

[2016-04-19 15:39] vsmenon opened #510 "Dynamic calls to hashCode are broken"
This:

[code]

prints `undefined`.  If the code is typed (or inferred via `var`), it works.  The problem is with the runtime dynamic call.

[2016-04-19 16:05] jmesserly commented on #510
This isn't supposed to be a dynamic call. It's supposed to be understood to be a method on Object. Maybe our handling in Analyzer has regressed?

[2016-04-19 16:10] jmesserly commented on #509
by "trap" do you mean "debugger;" statement?
http://www.ecma-international.org/ecma-262/6.0/#sec-debugger-statement

[2016-04-19 16:15] jmesserly commented on #508
yeah, the invariant is: dynamic calls are supposed to always be Strings, because we don't know what the target type is. If we know the target type, then we find an extension method, and it shouldn't be a dynamic call. I'd be really interested to see the reproduction for this case. I suspect it's caused by --unsafe-force-compile, but maybe there's another way this can happen.

[2016-04-19 21:15] vsmenon opened #511 "Calls to Type.toString are broken"
This:

[code]

prints this at run time.  Note, we're calling the JS toString, not the Dart one on the Type class.

[code]

[2016-04-19 21:18] jmesserly commented on #511
https://github.com/dart-lang/dev_compiler/issues/488 -- I think all Object.toString might broken right now

[2016-04-19 21:19] vsmenon opened #512 "js_ast doesn't appear to rename temporaries with same name at the top level"
See this CL:

https://codereview.chromium.org/1893293003/

and new comment here in module_builder.dart.  I seem to have to add an extra js block to get correct disambiguation.

[2016-04-19 21:24] jmesserly commented on #511
but specifically for Type -- we don't have a patch for it as far as I can tell. I'm not sure if it's specified what Type.toString returns, as `abstract class Type {}` in `dart:core` is defined to have no members. But we can certainly implement whatever the de facto standard is.

We'll want to treat `Type` as an extension type (so we'll generate the appropriate calling convention) and either via th

[2016-04-19 21:30] vsmenon commented on #512
Here's the relevant comment:

On 2016/04/18 20:52:18, John Messerly wrote:

js_ast wasn't

the SDK:

fix though.

going on,

low (I'm

runtime/SDK

[2016-04-19 23:17] vsmenon commented on #199
Some more items required for Angular apps in mirrors mode:
- [ ] Implement DeclarationMirror.owner
- [ ] Implement LibraryMirror.uri
- [ ] Instance var / getter / setter / method mirrors
- [ ] Fix ClassMirror.newInstance support factory constructors

All of these will require additional compile-time metadata.

[2016-04-20 08:58] eernstg commented on #199
I guess the intended workflow is such that 'reflectable' would not be helpful here, as long as it is running as a pub transformer?

[2016-04-20 19:49] hterkelsen commented on #486
[code]

When run with the VM, the output is

[code]

The output from DDC is:

[code]

and when run in node, the output is:

[code]

DDC should know that `final` fields only override getters, and not setters.

[2016-04-20 19:51] jmesserly commented on #486
Great example!
Also this should work:

[code]

VM prints: 3, 3, 21.

[2016-04-20 20:40] jmesserly opened #513 "usage exceptions are not caught correctly"
When I use ./bin/dartdevc incorrect I get a stack trace:

[code]

[2016-04-20 20:40] jmesserly commented on #513
@jakemac53 could this be related to the recent worker changes ?

[2016-04-20 20:42] jmesserly commented on #513
the same thing happens if you code has a compile error. We print then errors (good) then crash with a stack trace (bad)

[2016-04-20 21:03] jakemac53 commented on #513
Yep, looks like it is, the try/catch isn't working because `CommanRunner.run` actually returns a future.

[2016-04-20 21:24] jmesserly commented on #513
ah yeah ... I think we were using the try/catch around an `await` previously

[2016-04-20 21:25] #513 closed

[2016-04-20 21:34] vsmenon commented on #199
Yes, this is just a convenience to run Angular2 apps without transformation.

[2016-04-20 21:52] vsmenon opened #516 "Nested cascade bug"
[code]

prints `false` in DDC.

The generated code looks screwy:
[code]

It appears that `foo` is assigned a `Bar`.

[2016-04-20 21:54] vsmenon commented on #516
It prints `true` on the VM.

[2016-04-20 21:54] jmesserly commented on #516
Something dropped the "new Foo". That's why it's going so far off the rails :)

[2016-04-20 21:54] vsmenon commented on #516
And this slightly modified version prints true.

[code]

[2016-04-20 21:57] jmesserly commented on #516
The inner lambda should be:
[code]

[2016-04-20 21:59] jmesserly commented on #516
We generate these as essentially `let*` (in the Scheme sense) ... and then "lower" them to JS code. Maybe the lowering of the outer one somehow messes with the inner one, although that shouldn't be happening, naturally. Or maybe we built the wrong `let*` structure from the start. Interesting bug though :)

[2016-04-20 22:07] vsmenon commented on #516
Actually, didn't need the list.  Here's a slightly simpler version with the bug:

[code]

which produces this:

[code]

[2016-04-20 22:32] jmesserly commented on #516
Nice repros. I'm making good progress on tracking this down. MetaLet seems to be confused about how often the temporary variables are used (it must be not counting some uses, because it thinks "_" temp only appears once, but it clearly appears at least twice, for both the outer and inner MetaLet).

[2016-04-20 23:06] #507 closed

[2016-04-20 23:20] jacob314 opened #517 "Support cross-frame dom objects"
DDC support for cross-frame dom objects are incorrect as it depends on dart:js concepts of interceptors. Supporting this correctly will require a way to apply dart extension methods to a new child window when that window object is referenced through dart:html.

(edit by @jmesserly: split custom elements to https://github.com/dart-lang/dev_compiler/issues/521)

[2016-04-21 01:02] jmesserly commented on #517
I don't follow the relation to `window` object or how that comes into play?

[2016-04-21 01:03] #506 closed

[2016-04-21 01:08] #497 closed

[2016-04-21 15:46] vsmenon opened #518 "Fix generation of binary operators"
We currently map too many directly to JS even though the semantics are different.
One basic one: x % y is always positive in Dart, can be negative in JS.  DDC incorrectly has the JS behavior.

[2016-04-21 15:47] vsmenon commented on #518
@rakudrama - are you looking at this one already?

[2016-04-21 15:57] jacob314 commented on #517
dart:html has hooks where every time you have a dom method that returns a window you check whether the window is *the* window. if it is not *the* window you wrap it as a limited functionality cross-domain window so that you don't get access to cross-frame objects.
in dart2js this was mainly just to support dartium. in dev compiler, the extension method design means you would need to add a whole to

[2016-04-21 16:02] vsmenon commented on #517
Right, the actual prototype objects are different in each iframe / window.  So, the Window or HTMLCanvasElement protos in a frame are different from the ones on the top-level page.  Same with native Array for that matter.

The dart.registerExtension commands we execute only affect the top-level context.  We'd need to reapply those somehow to the new contexts (windows).

[2016-04-21 16:19] vsmenon opened #519 "SymbolLiterals are incorrectly created / canonicalized"
This prints `true` in DDC:

[code]

[2016-04-21 16:21] vsmenon commented on #519
The problem is that DDC is generating a concrete `core.Symbol` - this is an abstract class.  The abstract class doesn't contain any fields, so our canonicalization can't tell the difference between any fields.

`core.Symbol` has a factory constructor that forwards the a concrete internal class (with the expected field).  Looks like we need to generate `core.Symbol.new` instead of `new core.Symbol`

[2016-04-21 16:55] vsmenon opened #520 "ListMixin appears to be broken"
The following code:

[code]

triggers the following error:

[code]

`JSArray` mixes in `ListMixin`, but it appears that `forEach` is not properly install (or invoked?).

[2016-04-21 17:02] vsmenon commented on #508
Assigning to myself to at least find a repro.

[2016-04-21 17:12] vsmenon commented on #488
This was a hack to get `Type` objects to print correctly, but it seems broken now anyway.

[2016-04-21 17:19] jmesserly commented on #519
yeah, probably broke when we changed how factory calling pattern works. FWIW this is a simple fix in visitSymbolLiteral. it's hard coding JS.New(...).

[2016-04-21 17:20] jmesserly commented on #488
What's funny about that hack: Type objects all seem to define identical toString() and name getters :)

[2016-04-21 17:21] jmesserly commented on #488
I'm in the process of porting them to Dart, so I'll probably fix this along the way.

[2016-04-21 17:36] jmesserly commented on #520
I'm confused. But it's confusing :)

Our native array (called `JSArray` with uppercase S) does not mix in ListMixin:
https://github.com/dart-lang/dev_compiler/blob/1b461199920149e856272182187f506260f62cf5/tool/input_sdk/private/js_array.dart#L122

But it appears the one from dart:js JsArray (lowercase s):
https://api.dartlang.org/stable/1.15.0/dart-js/JsArray-class.html

@vsmenon thinks this could

[2016-04-21 17:39] jmesserly commented on #520
Ah we chatted more, I think ListMixin is probably broken for any Dart type. What happens is it is getting marked as "native" as a result of dart:html, but the extension mechanism wasn't designed to handle mixins (because the JS primitive types don't use mixins). So we've got some rethinking to do there

[2016-04-21 17:39] vsmenon commented on #520
Assigning to myself to find a simpler repro.  I don't think this is a `dart:js` issue.

[2016-04-21 17:41] jmesserly opened #521 "implement custom elements correctly in ddc"
split from https://github.com/dart-lang/dev_compiler/issues/517

custom elements in our dart:html are implemented in some way that depends on dart2js interceptors.
But we should be able to do something much more like how ES6 classes are used with custom elements.

[2016-04-21 17:43] jmesserly commented on #517
Sorry about that, I was super confused because I didn't see what "cross frame dom objects" had to do with "custom elements" ... I split custom elements into its own bug.

[2016-04-21 18:06] jmesserly commented on #516
Oh dear. So my (ab)use of js_ast template instantiation is the culprit here. We're incorrectly substituting for the cascade "#_" from the outer expression into the inner one, which breaks some invariants later on, but the root cause is the use of named interpolation exprs (where's capture-avoiding substitution when you need it :) ). No idea what I was thinking when this was written. Perhaps I conf

[2016-04-21 18:27] vsmenon commented on #520
Here's a simpler repo:

[code]

This shows a JS `TypeError`.  Change `var x = ...` to `dynamic x = ...` to get the same NSM as the original example.

[2016-04-21 19:16] vsmenon commented on #438
Closing this.  Will open a separate bug for updating usage.

[2016-04-21 19:16] #438 closed

[2016-04-21 19:37] vsmenon commented on #485
I've marked that doc deprecated for now.

Whole program code has been removed from tip-of-tree.  We're focused on modular compile right now.  We can compile targets with DDC, but rely on other tools to link.

Here are some notes (assuming `bash`) on how to experiment with DDC code using node tools assuming you have ddc checked out at `$DDC_PATH` (you'll need to run `pub get` in there as well).

*T

[2016-04-21 20:07] jmesserly commented on #516
Fixed this. I'm going to try one further API cleanup that is unlocked now.

[2016-04-21 21:28] jmesserly commented on #516
https://codereview.chromium.org/1910233002/

[2016-04-21 21:30] vsmenon commented on #520
One more - native types (like `NodeList` in html) appear to work fine.

[2016-04-21 22:19] #516 closed

[2016-04-22 00:16] vsmenon opened #522 "Static fields that "conflict" with super classes can cause TypeErrors in JS"
This code results in a JS TypeError when compiled with DDC and run:

[code]

Here's the generated code:

[code]

The TypeError is on the assignment to `hello.Bar.x`.

[2016-04-22 00:17] vsmenon commented on #522
This is coming up in `dart:html`.  We have to comment out static fields in `SvgElement` that conflict with fields in `Element`.

[2016-04-22 00:22] vsmenon commented on #522
See https://codereview.chromium.org/1904373002/

[2016-04-22 01:42] hterkelsen commented on #486
I don't think that `virtualField` can be made to work with `final` fields. If you override a getter/setter pair with a final field, then you need the setter in the subclass to forward to the superclass setter. However, since `virtualField` uses `Object.defineProperty`, it can't access `super`.

I think the correct way is to make a new `setFinal` helper that sets some symbol on the instance to what

[2016-04-22 08:42] sh4869 commented on #466
Server mode was deleted, so this issue should be closed.

[2016-04-22 08:42] #466 closed

[2016-04-22 09:52] Kleak commented on #436
Hey maybe i can help on this task.

I'm wrapping nodejs with the js package : [nodejs.dart](https://gitlab.com/grimshield/nodejs.dart)
And a beginning of electron : [electron.dart](https://gitlab.com/grimshield/electron.dart)

The only problem i have is that i am not able to launch generated js file in node with this CL
dartdevc --v8-binary node -o build --modules node example/test_ddc_example.dar

[2016-04-22 12:26] vsmenon commented on #436
Have you tried tried preliminary node usage instructions near the end of #485 ?

[2016-04-22 12:37] Kleak commented on #436
Nop, thanks, i will retry with this :)

[2016-04-22 16:09] devoncarew commented on #485
This is great info! Worth bumping up to a top-level markdown doc?

[2016-04-22 18:17] vsmenon commented on #519
Stealing this since @jmesserly is out.  It appears to break package:unittest.

[2016-04-22 18:27] #519 closed

[2016-04-22 19:16] vsmenon commented on #508
The following line in `dart:html` is using a symbol and breaking:

[code]

[2016-04-25 13:12] vsmenon commented on #485
We should - and perhaps replace the Usage.md doc which is woefully out of date.  Node v6 is scheduled to go stable tomorrow, so the instructions will get a bit easier.

[2016-04-25 16:29] jmesserly commented on #508
Ah, nice catch. So it's a dynamic op on private fields. Yeah, we'll need to fix that. A simple repro is probably something like:
[code]

I wonder if this affects operations other than `dput`. I'm pretty sure `dsend` worked okay on private methods at one point.

[2016-04-25 16:32] jmesserly commented on #436
yeah you may want to sync to "master" as well. The newer compiler won't generate "dart/_runtime" anymore, it should be trying to `require("dart_sdk")`

[2016-04-25 16:37] jmesserly commented on #486
You can definitely access it. The super property descriptor will look like:
[code]

getFn is the getter function, setFn is the setter function. I'm 99.9% sure it is possible to make it work :)
[code]

[2016-04-25 19:24] vsmenon opened #523 "Deferred loading throws runtime error"
The following code breaks at runtime:

[code]

An initial solution could eagerly load.

[2016-04-25 19:38] vsmenon opened #524 "is / as checks unnecessarily fail at runtime"
This test throws a strong mode error at runtime.  No static errors or warnings.

[code]

[2016-04-25 19:39] vsmenon commented on #524
@leafpetersen thoughts on the right behavior here?

[2016-04-25 20:08] jmesserly commented on #523
dupe of https://github.com/dart-lang/dev_compiler/issues/305 :)

[2016-04-25 20:08] #523 closed

[2016-04-25 20:09] jmesserly commented on #305
@vsmenon just hit this

[2016-04-25 20:16] jmesserly commented on #524
Oh shoot, we need a to do something here. Here's my sense.

Most consistent/easiest to implement in the short term: it should be a warning like DownCastComposite.
Medium-to-long term, maybe we can make progress on "no reified dynamic" direction, and we can have VM subtype rule consistent with DDC, making all of these "composite casts" a non issue.

[2016-04-25 20:17] vsmenon commented on #524
This is coming up in package:unittest.  @nex3 fixed a strong mode error, but the new code (see util.dart) introduces `_Predicate` and triggers the runtime issue above.  See:

https://github.com/dart-lang/test/commit/7beae722119c3ea253ebf49ec8c69eea5c63672f

[2016-04-25 20:18] jmesserly commented on #524
Oh: we should fix this in DDC for sure, if Dart 1 and 2 checks would agree, we shouldn't throw.

[2016-04-25 21:07] jmesserly commented on #253
since this was a long discussion I wanted to summarize the solution:

- We should be able to easily detect the self-reference and/or cycle when generating the class heritage. (indeed we already detect the simple case) using ElementLoader,
- We then generate the class without a superclass, and fix it up immediately after (we already do in some cases: `dart.setBaseClass`).

Almost all of the buildin

[2016-04-25 22:11] jmesserly opened #525 "support instantiated tear-offs"
Initial implementation of #301 may not cover this.
- [x] identify these nodes in the AST by examining the staticType
- [x] emit the instantiation
- [ ] ensure RTTI is associated

The nodes this can happen to are: PropertyAccess, PrefixedIdentifier and SimpleIdentifier.

You can't write the instantiation explicitly yet (`o.m<String>`) but it can be inferred by the type system. These do come up in p

[2016-04-25 22:15] jmesserly opened #526 "support universal function types"
Initial implementation of #301 may not cover this.
- [ ] ensure these have a runtime representation (likely done as part of #301)
- [ ] implement subtyping rules
- [ ] prevent these types from being treated as callable functions (e.g. `(f.runtimeType as dynamic)(int)` where f is a generic function). Discussed at the end.

These can't be written down yet, but they can come up in inference, for exam

[2016-04-25 22:19] jmesserly opened #527 "support generic lambda expressions"
Initial implementation of #301 may not cover this.

See #526 for an example

These don't come up all that often in practice, as you can't write down their type yet (see #526). We implemented them in Analyzer for completeness.

[2016-04-25 22:20] jmesserly commented on #434
I'm going to call this fixed :)
we can follow up on the SDK side with any additional issues

[2016-04-25 22:20] #434 closed

[2016-04-25 23:04] jmesserly commented on #301
I split out a few issues (#525, #526, #527) that may not be in the first CL.

[2016-04-26 15:57] sigmundch opened #528 "finally + super don't play nice"
This is possibly more of an ES6 bug than a DDC bug, but you can probably triage this more accurately,.

I'm seeing issues when making a super method call within a finally block. For example:

[code]

The generated code contains `finally { super.foo() }`, which produces a runtime syntax error saying `super keyword unexpected here`.

[2016-04-26 15:58] sigmundch commented on #528
It's easy to work around though (just pull the super call into a helper method)

[2016-04-26 16:11] vsmenon commented on #528
This is related to #499 (though more surprising here).  The fix is probably same - the compiler can create a helper method.

[2016-04-26 17:32] jmesserly commented on #528
yup. @sigmundch did you hit this in real code that will block folks? If so please mark P1. thanks :)

[2016-04-26 17:48] sigmundch commented on #528
it was in a testing library that was easy to fix locally. In fact, the code was temporary to begin with and a change just landed that got rid of the code that was causing this altogether, so no blocker.

[2016-04-26 18:12] jacob314 commented on #509
When
https://bugs.chromium.org/p/chromium/issues/detail?id=589980&q=component%3APlatform%3EDevTools%20pause&sort=-stars&colspec=ID%20Owner%20Summary%20Modified%20Stars
is fixed, chrome devtools will support this case via blackboxing and pause on all exceptions.

A right click to blackbox each script when you see it throw an error is all that is required.

Longer term there are two other options:
1

[2016-04-26 18:26] leafpetersen commented on #524
If we give a warning, it should only be on doing an `is` check with something which returns non-dynamic.  All the other cases should be safe, I think.  For casts, we let people do them without a warning if they make them explicit.  I'm a little worried about the fact that we're basically leaving people with no option here.  What do I do with this code to make it strong mode clean then:

[code]

[2016-04-26 19:40] #486 closed

[2016-04-26 20:33] jmesserly commented on #524
okay we chatted about this :). It sounds like Leaf may want to try attacking this from the Analyzer side. I'll assign to you Leaf for now.

@vsmenon -- is this a P1?

[2016-04-27 00:48] jmesserly commented on #163
CC @rakudrama who hit this looking at our (abysmal :) ) runtime performance.

[2016-04-27 00:49] jmesserly commented on #163
Suspect the right fix here nowadays is just generate something uglier in JS if needed. Maybe we split out ctors and initializer methods.

[2016-04-27 00:54] #510 closed

[2016-04-27 16:27] jmesserly commented on #163
FWIW, we could certainly change to spread/rest args and have the base Object `constructor()` jump to our initialize method which has a known name. I'm not sure that would help much, though. The initializer method was basically a door to get out of the (silly) ES6 constructor restrictions.

[2016-04-27 19:15] vsmenon opened #529 "Assert in ModuleCompiler that we're in strong mode?"
@jakemac53 was accidentally passing in a non-strong analysis context to ModuleCompiler and it led to subtle errors in the generated code.  Perhaps we should check and throw in this case.  You'd never hit it from the command line.

[2016-04-27 22:15] hterkelsen commented on #522
I think this means that static fields also need the `virtualField` treatment.

[2016-04-28 17:46] hterkelsen opened #530 "Crash with "Invalid build root.""
We're sorry, you've found a bug in our compiler.
You can report this bug at:
    https://github.com/dart-lang/dev_compiler/issues

Please include the information below in your report, along with
any other information that may help us track it down. Thanks!

    dartdevc arguments: compile -o a.js /usr/local/google/home/het/Code/ddc_test/hello.dart
    dart --version: 1.16.0-dev.5.0 (Wed Apr 13 04:

[2016-04-28 17:49] vsmenon commented on #530
So the "--build-root" defines a root.  Library names (inside the generated JS) are relative to this root directory.  If not passed in, it defaults to the current working directory.  The compiler is complaining that the compiled file is not within the build root directory.

You can fix by passing --build-root /usr/local/google/home/het/Code/ddc_test.

[2016-04-28 17:52] hterkelsen commented on #530
Got it. Adding the build root made it work. Still, I don't think this should cause the compiler to crash.

[2016-04-28 17:54] vsmenon commented on #530
Yeah, we should give a better error.  No reason we can't catch / report an error at the entry point and give a nicer error.

[2016-04-28 17:58] jmesserly commented on #530
but if it's crashing without build-root, that's a bug :)

[2016-04-28 18:00] jmesserly commented on #530
@hterkelsen @vsmenon -- have a look at how we handle a missing `-o` option, same trick should work.
However -- we really really should autodetect pubspec.yaml. Requiring a build root is super annoying and has no user benefit 99% of the time

[2016-04-28 18:06] jmesserly opened #531 "module compiler does not validate that part files were explicitly provided"
Parts don't really matter from DDC's perspective, so we don't bother to validate that they are supplied, but it would be more hermetic to enforce it.

Libraries are already handled correctly and we will issue an error.

[2016-04-28 18:10] hterkelsen commented on #522
It seems like static overrides in ES6 need a virtual field for the same reason as non-static fields:

[code]

The dart VM prints:
[code]

DDC outputs:
[code]

which, when run in `node`, prints:
[code]

[2016-04-28 19:18] jmesserly commented on #529
Great idea! And check the SDK context too :)

[2016-04-28 19:21] jmesserly commented on #522
@hterkelsen that sounds like it's on the right track.

Note that you can also use Object.defineProperty too (indeed see defineLazyProperty). I'm guessing all lazy static fields already work. The bug is because we opted for the "pretty" pattern, which we do if we believe the initializer is a constant.

e.g. you can just comment out this and it should work
https://github.com/dart-lang/dev_compiler/b

[2016-04-28 20:03] jmesserly commented on #531
https://codereview.chromium.org/1930133002/

[2016-04-28 20:26] jmesserly opened #532 "validate type bounds in dynamic generic method call"
The initial implementation will not validate type bounds.

We actually have the same issue with generic classes. But there, it can only be triggered via JavaScript interop, because `C<InvalidType>` would be rejected at compile time. Generic methods must handle this at run time.

Since we represent these types as a function like `(T, S) => dart.functionType(...)`, once option is to generate an asse

[2016-04-28 20:36] jmesserly commented on #532
(Note, if we ever want mirror support for type bounds, we'll need to store this in a way we can get at it. https://api.dartlang.org/stable/1.16.0/dart-mirrors/TypeVariableMirror-class.html -- that's pretty obscure though, unclear where mirrors is headed for DDC)

[2016-04-28 20:37] #531 closed

[2016-04-28 20:51] jmesserly opened #533 "tests for dynamic calls to generic functions/methods"
I'll try to add some, but this is the sort of thing that could use exhaustive testing. Likely the other Dart implementations will be able to benefit as well once they implement generic methods.

[2016-04-28 22:46] jmesserly opened #534 "dynamic dispatch throws nSM instead of a type error"
This is affecting issue12284_test and inferrer_synthesized_constructor_test.

I discovered it by fixing dart:_runtime "callMethod" to correctly use the "symbol" instead of the "name" when looking up the method signature.

[2016-04-28 22:46] jmesserly commented on #534
this affects dsend, dcall etc.

[2016-04-28 22:51] jmesserly commented on #176
related https://github.com/dart-lang/dev_compiler/issues/129

[2016-04-28 22:51] jmesserly commented on #534
related: https://github.com/dart-lang/dev_compiler/issues/176

[2016-04-28 22:52] jmesserly commented on #220
I think this one is obsolete

[2016-04-28 22:52] #220 closed

[2016-04-28 22:58] jmesserly commented on #301
https://codereview.chromium.org/1926283002/

[2016-04-28 23:00] jmesserly commented on #525
Now that the CL is out for #301, I will take a look at this one

[2016-04-28 23:23] jmesserly commented on #532
Oh also: we'll need to instantiate to bounds at runtime in dcall/dsend. This is not implemented yet. Perhaps we can do default values on the type parameters.

[2016-04-29 01:32] rakudrama commented on #518
https://github.com/dart-lang/dev_compiler/commit/8ab6b7172aeaeabc17e229f2366fb73bebf1af6c fixes `%`, `&`, `|`, `^`, `>>`, `<<`, `~`

[2016-04-29 02:59] rakudrama commented on #502
The problem appears to be that the static type on parenthesized expressions is not updated by inserting reified coercions.
We can either make reify_coercions.dart adjust the static type on parentheses (or look through parentheses when querying the type - I prefer adjusting the tree to be correct).

We should also make boolean conversions explicit rather than relying on

      if (dart.notNull(dart

[2016-04-29 16:59] jmesserly commented on #502
+1! :)

[2016-04-29 17:20] jmesserly opened #535 "pull in generic method tests"
from @vsmenon:

(https://github.com/dart-lang/sdk/commit/4dd22a87bb43f2ef2d0ce755d6528cc6a7afc0a0).

[2016-04-29 17:23] jmesserly commented on #535
oh, we can't do that until we want to support the syntax. It's more of a parsing test.

[2016-04-29 17:29] jmesserly commented on #525
Here's an example:
[code]

[2016-04-29 17:41] #301 closed

[2016-04-29 19:02] rakudrama opened #536 "better code for boolean conversions"
We should make boolean conversions explicit and lighter weight. Rather than relying on `notNull` and `as`,

    if (dart.notNull(dart.as(x, core.bool))) ...

we should have a special (and efficient) helper for this common case, something like

    if (dart.test(x)) ...

[2016-04-29 19:06] rakudrama commented on #502
Fixed by https://github.com/dart-lang/dev_compiler/commit/961542eb96cd865dcf7eb1d8cca05022fb9fe283
Boolean conversion issue moved to https://github.com/dart-lang/dev_compiler/issues/536

[2016-04-29 19:06] #502 closed

[2016-04-29 19:18] vsmenon opened #537 "JsArray broken due to wrong summary"
The following code breaks on the constructor call at runtime.  We generate a factory call (as it's a factory constructor in the VM-based summary), but our version of `dart:js` has a regular constructor instead.

[code]

Do we need anything besides the latest analyzer to fix this?  @stereotype441 fixed the analyzer side of this.

On a related node, we may consider always generating the factory patt

[2016-04-29 19:21] jmesserly commented on #537
This should be fixed already -- can you verify with latest SDK & then we can close this?

[2016-04-29 19:27] #518 closed

[2016-04-29 21:27] hterkelsen opened #538 "Generic calls don't work with async"
[code]

generates this:
[code]

The `foo` method isn't taking the `T` type parameter.

[2016-04-29 21:38] hterkelsen commented on #538
That example is too big, here's a smaller one with the same problem:
[code]

[2016-04-29 21:56] jmesserly commented on #538
thanks, I can take a look. we have a lot of paths for generating function bodies so it's not terribly surprising. I'll also add to the tracking bug #435

[2016-04-29 21:57] jmesserly commented on #538
likely async*/sync* have the same issue.

[2016-04-29 22:07] jmesserly opened #539 "improve generic method RTTI"
we currently have two redundant things:
* function wrapping step in _functionType function in ddc_runtime/types.dart (see TODO)
* we wrap generic functions in an array: `'method': [T => [T, [core.Iterable$(T)]]]` that array is not needed as it will contain one item. See _emitFunctionTypeParts.

This is not high priority on its own but may simplify fixing some other things.

[2016-04-29 22:10] hterkelsen commented on #538
I think I found a 1-line fix, will send for review

[2016-04-29 22:25] jmesserly commented on #538
🎉

[2016-04-29 22:25] #538 closed

[2016-04-29 22:37] jmesserly commented on #525
https://codereview.chromium.org/1930323004/

[2016-04-29 22:40] jmesserly commented on #163
Taking a shot at this

[2016-04-29 23:41] #525 closed

[2016-04-29 23:48] jmesserly commented on #331
@vsmenon  and @sigmundch were looking into something like this

[2016-04-29 23:49] jmesserly commented on #331
(the command line to DDC's modular compiler is quite different, but I think the issue is still there -- we don't know how to "promote" file URIs to package ones -- unless Vijay landed a fix recently and I forgot about it already)

[2016-04-29 23:49] jmesserly commented on #223
This is now the job of the build system (Make, Bazel etc)

[2016-04-29 23:49] #223 closed

[2016-04-29 23:50] jmesserly commented on #282
possibly(?) obsolete now

[2016-04-29 23:50] #282 closed

[2016-04-29 23:50] jmesserly commented on #417
This is fixed now

[2016-04-29 23:50] #417 closed

[2016-04-30 00:29] jmesserly commented on #520
Yeah, so what's going on here is the current extension mechanism is designed for native *interfaces*. It's not designed to handle *extending* a native type. That is not possible for the most part -- dart:core types explicitly disallow it, HTML types too. "Custom Elements" was added to make something actually subclassable.

ListMixin gets mixed into a native type (in dart:html) though, which causes

[2016-04-30 01:24] rakudrama opened #540 "Function types are not fully canonicalized"
The function type
[code]
is not canonicalized, leading to the following expression creating a fresh class for each call.
Manually hacking the code to cache the function type speeds up the Intl.DateFormat.format.oneshot benchmark by 5x-8x.

[code]

The code comes from `intl/lib/src/intl/date_format.dart
`
[code]

[2016-04-30 01:32] leafpetersen commented on #540
I've had it in my head to look into canonicalization for runtime types in a uniform way.  It may give us good speedups in the cast code if we can usually count on a fast identity check to succeed.  If we can make types actually canonical so that if identity fails we know they are not equal that might be even better, though for casts and is checks we're checking subtyping so not-equal doesn't allow

[2016-04-30 02:37] rakudrama commented on #540
Without complete canonicalization, the subtype cache will grow without bound. The Intl benchmark grows the cache to >70k elements with all but the first ~20 being the 'same' function.

Something we can probably do quickly is to hoist the expression that creates the type as high as possible, and have an lazy initialized accessor in that scope that creates the type on first use.
This works for unpar

[2016-04-30 02:56] leafpetersen commented on #540
I think the dart.generic helper does canonicalize (or at least I thought it used to)?

The dart.functionType etc helpers could do likewise in the short term.

We may want to rethink the subtype cache.  It's not clear to me that caching function types is a win, unless the cache can be keyed only by identity, since I don't think checking general equality of function types is noticeably faster than j

[2016-05-02 16:32] jmesserly commented on #540
IIRC, it is only keyed by identity.
https://github.com/dart-lang/dev_compiler/blob/4d27e3f409afaec75a9501eccbe4e52c5ace999f/tool/input_sdk/private/ddc_runtime/types.dart#L425

[2016-05-02 17:06] jacob314 opened #541 "Fix created constructors for dart:html types"
Fix created constructors for dart:html types so that they stop generating uneccessary code that will probably mess up element rendering. The problem is we need to track that native fields on native classes do not need to be initialized.
This is a P1 blocker for custom element support

For example the created constructor for InputElement looks like
[code]
when it should look like
[code]

[2016-05-02 17:09] jmesserly commented on #541
I thought custom elements were not P1? https://github.com/dart-lang/dev_compiler/issues/521

[2016-05-02 19:37] vsmenon commented on #520
Here was my workaround in the old code base:

https://github.com/dart-lang/dev_compiler/commit/d7ad9622108f8e6ebef6113a593c0daf1082df90

Primarily, it differentiates between classes known to be native and interfaces that may be implemented by a native type.

[2016-05-02 19:49] jmesserly commented on #520
Hmmm, I'd call that a "fix" more than a "workaround". Looks like useful info to track in any case :)
I think we might have a hard coded list now (we were working around something, I forget what), but

Do you recall offhand how it changed ListMixin code generation? In particular you should see Dart  method names, with symbols only implemented after the fact (defineExtensionMembers).

[2016-05-02 19:51] vsmenon commented on #520
My next patch appears to have the changes:

https://github.com/dart-lang/dev_compiler/commit/bc11257b074a3c68f2ece5042eb9a2992e2333f9

[2016-05-02 19:56] jmesserly commented on #520
Nice!!! Okay I'll try and roll that forward, I'm going to change our SDK extension type finder to be part of ./tool/build_sdk.sh so we can more easily tweak this kind of thing going forward

[2016-05-02 22:24] munificent commented on #508
If no one minds, I'll take a shot at this.

[2016-05-02 22:29] vsmenon opened #542 "Call methods on classes not supported"
The following code breaks:

[code]

Both the call to `foo` and `f` (if the former is commented out) throw in JS.

[2016-05-02 22:52] vsmenon opened #543 "export of non-classes does not work"
It appears that exported symbols are copied too early.  If the following 3 files are compiler together in one module:

[code]

foo.dart:
[code]

bar.dart:
[code]

baz.dart:
[code]

and run, we get a JS runtime type error that `baz.Info` is not a constructor.

[2016-05-02 22:53] vsmenon commented on #543
Here is the generated JS.  Note that `foo.info` is accessed before the `Info` class is defined.

[code]

[2016-05-02 23:09] jmesserly commented on #451
p2 unless this comes up. I suspect our toStrings are broken though (e.g. on List). I'd swear we had another bug for this but I can't find it.

[2016-05-02 23:11] jmesserly commented on #508
sounds good!

[2016-05-02 23:16] jmesserly commented on #543
yeah I wrestled with exports ... left in place most of our existing mechanism, so it still tries to see if the export is "lazy", but I guess the bit is not computed transitively. That's why it emits `foo.info` as lazy, but `bar.info` does not respect that and calls the lazy getter at the top level.

Two ways to fix it:
* quick fix is to make them all lazy, but that seemed super ugly which is why I

[2016-05-02 23:17] jmesserly commented on #543
I'm just going to do the real fix. To be honest I almost included it in the "big modular compile" CL but it was already too crazy. I had somehow fooled myself into thinking our old logic for exports was working. Nope :)

[2016-05-02 23:40] jacob314 opened #544 "Fix HTML members where obj.someMethod(undefined) behaves differently from obj.someMethod()"
Fix HTML members where obj.someMethod(undefined) behaves differently from obj.someMethod()

Fixing this should also improve runtime performance as the fix will reduce one level of indirection in methods called.

[2016-05-03 00:13] jmesserly commented on #520
Oh Rectangle may be affected as well. Good catch @jacob314 !

[2016-05-03 16:56] rakudrama commented on #500
a1fa72091ad2be244d5e6b9a43e4c30d13b4a4cb List.unmodifiable added.

[2016-05-03 17:39] #537 closed

[2016-05-03 17:41] leafpetersen commented on #524
Just a note on this.  The VM doesn't actually implement is checks correctly per the spec for function types.  The code below passes checked mode and prints true: it should do neither per the spec.

[code]

[2016-05-03 19:00] vsmenon commented on #543
Adding P0 - this is blocking loading of apps right now.  Will see if I can workaround.

[2016-05-03 19:03] rakudrama commented on #500
1cdc0221a28e039143823d76f6c510f77035674c Map.unmodifiable added.

[2016-05-03 19:03] #500 closed

[2016-05-03 19:14] jmesserly commented on #543
Hmmm, actually this looks better than I'd thought. I did appear to fix the ordering in visitExportDirective already. So I don't think this is an ordering issue at all. It is just incorrectly exporting top-level variables. They need to be lazy per Dart semantics.

[2016-05-03 19:47] vsmenon commented on #543
I can workaround by modifying `visitExportDirective` to add to a separate list and to append that list to `_moduleItems` in `_emitModule`.  I don't think that's a correct solution though - these still need to be spit out in the right order, right?

[2016-05-03 19:49] jmesserly commented on #543
It has nothing to do with order. The bug is we don't generate any library properties (fields, getters, setters) correctly at all. I'm not sure to what extent it was already broken, or regressed with the modular compiler.

[2016-05-03 20:12] vsmenon opened #545 "Unwrap futures on async functions"
The following code - no static issues - fails at runtime on a cast from `Future` to `String`.  Should we be unwrapping in DDC?

[code]

[2016-05-03 20:12] vsmenon commented on #545
@leafpetersen

[2016-05-03 20:19] leafpetersen commented on #545
Yes.  We support it in the type system, I thought we had already implemented support for it in the async/await implementation, but maybe that was only for `await 42`?  :)  @jmesserly ?

[2016-05-03 20:33] jmesserly commented on #545
Well this is `return` not `await`.

A guess: future flattening was not implemented in DDC. We hadn't decided on what to do yet at that point in time. What is likely going on is it tries to create a `Future<Future<String>>` at some point (probably runtime) and it doesn't understand that flattens to `Future<String>`. We'll need the same Future flattening logic at runtime, right? e.g. if I have a gen

[2016-05-03 20:34] jmesserly commented on #545
Oh: and compiler could also generate `Future< flatten(T) >` since we can find it statically, but I suspect we are doing `Future< T >` inside of our dart.async helper method.

[2016-05-03 20:37] jmesserly commented on #545
https://github.com/dart-lang/dev_compiler/blob/1cdc0221a28e039143823d76f6c510f77035674c/tool/input_sdk/private/ddc_runtime/generators.dart#L50 is potentially a trouble spot for us. Depends what `T` was passed in. Maybe it was flattened for us already, not sure.

a few lines up on:
https://github.com/dart-lang/dev_compiler/blob/1cdc0221a28e039143823d76f6c510f77035674c/tool/input_sdk/private/ddc_run

[2016-05-03 20:42] leafpetersen commented on #545
Sounds like there are probably two issues here:

1) When a future is returned from an async function we need to unwrap it.
2) We need to flatten future type representations.

I can try to look at the second, or both.

[2016-05-03 20:43] jmesserly commented on #545
yeah go for either or both :)

[2016-05-03 21:03] jmesserly commented on #543
https://codereview.chromium.org/1949733002/

[2016-05-03 21:04] jmesserly commented on #543
aside: this also fixes local_export_test, which *appeared* to pass, but was not really working. It "worked" because it tried to export `["A="]` which is totally wrong :)

[2016-05-03 21:24] #488 closed

[2016-05-03 21:24] #511 closed

[2016-05-03 21:44] jmesserly commented on #530
just hit this again. I'm going to fix it, it makes it hard to iterate on a small test

[2016-05-04 00:16] jmesserly opened #546 "compiler crash if output is a directory"
e.g. `./bin/dartdevc.dart compile -o ~/tmp/  --build-root=$HOME/tmp/ ~/tmp/test.dart`

[2016-05-04 00:37] jmesserly commented on #520
I rolled forward the fix ... it seems to work, but I'm hitting a problem where nothing in dart:html shows up as native anymore. Perhaps a summary issue, not sure yet.

[2016-05-04 01:24] munificent opened #547 "Class literal with a prefix is not wrapped in a Type"
Class literals should be wrapped in WrappedType so they produce Type objects instead of the raw constructor. It looks like this isn't doing the right thing when the class is prefixed:

[code]

This should print "A", but it prints the constructor function instead.

[2016-05-04 14:49] vsmenon commented on #543
@jmesserly I'm still hitting an error when the `dart.export` happens before the from property is set.  `copyProperty` fails with a null `desc`.

[2016-05-04 16:05] jmesserly commented on #543
New repro? The old one is included in https://github.com/dart-lang/dev_compiler/commit/698e84ab5fe24e02299029e46f6d4aa0e7d16ed5 and it's passing

[2016-05-04 16:26] jmesserly commented on #530
started a refactor, it's not quite as straightforward as I was hoping, going to leave for now but hope we can pick this back up after P1's are fixed

[2016-05-04 16:34] jmesserly commented on #520
yeah it's a summary issue. It doesn't look dart:html's `@Native` annotation is not being picked up in the dart2js summary (`element.metadata` on the ClassElements). If I comment out useSummary on the Dart SDK resolver, then it works. @stereotype441 -- any thoughts on what might cause this?

[2016-05-04 16:39] jmesserly commented on #520
I'll see how hard it is to have us generate a hard coded metadata list again (as part of tool/build_sdk) in the meantime.

[2016-05-04 16:43] vsmenon commented on #543
Assigning to myself to come up with a repro.

[2016-05-04 17:11] jmesserly commented on #520
Thanks to @stereotype441 for a workaround, I can use the ElementAnnotation's .element property to see if it's `@Native` since I don't care about the string value for my purposes. (`metadata.constantValue` seems to be null)

[2016-05-04 17:13] #547 closed

[2016-05-04 17:25] munificent commented on #508
Ask and ye shall receive:

[code]

No `--unsafe-force-compile` needed.

[2016-05-04 17:50] jmesserly commented on #508
why is that a dcall? https://api.dartlang.org/stable/1.16.0/dart-html/Element/createFragment.html
if it's ending up a dcall then that's a bug

[2016-05-04 17:52] jmesserly commented on #508
I am seeing this as the compiler output:
[code]
Seems unrelated to this bug?

[2016-05-04 17:54] jmesserly commented on #508
Oh, maybe you're saying somewhere in the course of calling createFragment the bug is triggered?
Anyway I already have a repro up thread that doesn't involve dart:html -- https://github.com/dart-lang/dev_compiler/issues/508#issuecomment-214430336

compiles to:
[code]
so the bug is with private fields

[2016-05-04 17:55] jmesserly commented on #508
(update title)

[2016-05-04 18:01] munificent commented on #508
Yes, sorry. It ultimately calls `contextElement._innerHtml = html`, which fails.

Is that wrong? What should it be?

[2016-05-04 20:26] #524 closed

[2016-05-04 20:37] jmesserly commented on #520
Okay I have a partial fix, DDC is still a bit messed up with extension members that are fields (`final int length = 5`) going to see if that is an easy fix, otherwise I may send out my partial fix

[2016-05-04 20:51] jmesserly opened #548 "fields that define extension members don't work"
Split from #520

The following test fails, because defineExtensionMember does not find a property descriptor for MyList.length, so it does not create `[dartx.length]` and thus ListMixin.forEach will throw.

[code]

[2016-05-04 20:51] jmesserly commented on #548
@vsmenon @jacob314 -- thoughts on priority of this one?

[2016-05-04 20:52] jmesserly commented on #548
(also I think Jacob's fix might address this?)

[2016-05-04 20:53] jmesserly commented on #520
split #548 for the other issue. CL is https://codereview.chromium.org/1949163003

[2016-05-04 20:57] vsmenon commented on #543
Here's a new repor:

foo.dart
[code]

bar.dart:
[code]

Compile step:
[code]

Runtime error:
[code]

[2016-05-04 21:00] jmesserly commented on #543
out of curiosity do you know if it fails because of "info" or "y"?

(one is a getter one is a field, so they use different element model structure in Analyzer... maybe we're still not implementing all permutations correctly, in particular the getter jumps out at me)

[2016-05-04 21:01] munificent commented on #542
I'll take this if it's up for grabs.

[2016-05-04 21:02] vsmenon commented on #543
`info`

Here's the generated JS - it's throwing on the call to `dart.export`:
[code]

[2016-05-04 21:04] jmesserly commented on #543
ah yup. I know what that is. I guess we're tracking getter/setter elements individually, so when we ask loader to load the property, it's like "uh, I don't know what that is -- sure, let's pretend it's loaded!"

[2016-05-04 21:05] jmesserly commented on #543
aside: if we ever get the mythical "time to pay off technical debt" I'd love to make the ordering system issue better errors. e.g. it could easily tell that you're asking it to load something *from the current module* which it does not know. that's a clear sign something is amiss

[2016-05-04 21:14] munificent commented on #542
Never mind!

[2016-05-04 21:14] munificent commented on #257
I'll take dart:async.

[2016-05-04 21:15] jmesserly opened #549 "export of properties does not work"
the fix for https://github.com/dart-lang/dev_compiler/issues/543 did not catch this new example:
foo.dart:
[code]
bar.dart:
`export 'foo.dart';`

we don't know when we have a synthetic field that we need to ask loader to emit the getter and the setter individually.

[2016-05-04 21:15] jmesserly commented on #543
I'm going to split properties into its own bug ... more satisfying that way, plus the original issue was fields which is fixed :)
https://github.com/dart-lang/dev_compiler/issues/549

[2016-05-04 21:15] #543 closed

[2016-05-04 21:33] #520 closed

[2016-05-04 21:36] vsmenon opened #550 "Bug in function subtyping?"
If I uncomment the definition of `f`, I get a static error.  With it commented, the code prints `true`.  I think this is a runtime bug.

[code]

[2016-05-04 21:37] vsmenon commented on #550
@leafpetersen : seeing this before and after your CL.

[2016-05-04 21:53] leafpetersen commented on #550
I think that's the behavior I would expect: Functions are in the ignore whitelist.  Or are you not seeing a console warning about ignoring a cast failure?

[2016-05-04 21:59] #549 closed

[2016-05-04 22:01] vsmenon commented on #550
Not seeing a console warning.  Doesn't appear to hit that path.

[2016-05-04 22:04] #508 closed

[2016-05-04 22:06] jmesserly commented on #545
I can take this if you didn't start on it yet @leafpetersen

[2016-05-04 22:12] leafpetersen commented on #545
You're welcome to it, or if you want me to move this up in my queue I can.

[2016-05-04 22:28] jmesserly commented on #545
Interesting one. So we're generating a cast on the return value to type String. Bug in coercion reification? Something wacky with LUB? Unclear yet. But we don't even get to the runtime helper or constructing a `Future<Future<String>>` at runtime so seems unrelated to those
[code]

[2016-05-04 22:32] jmesserly commented on #545
Oh shoot. Looks like a CodeChecker bug (_checkReturnOrYield) specifically where it puts the downcast. We don't do anything special in DDC other than insert the cast where Strong Mode told us to put it.

[2016-05-04 22:56] jmesserly commented on #545
And it looks like the downcast comes into play because of LUB. LUB of `Future<String>` and `String` is `Object`, so Strong Mode thinks it needs to insert *some* downcast there for soundness. Strong Mode would be happy to cast to either a `Future<String>` or `String`, but in this case it doesn't know what to cast to, and we don't have a way to represent a cast to a union type, so it picks `String`

[2016-05-04 23:03] jmesserly commented on #545
Moved to https://github.com/dart-lang/sdk/issues/26404.
I'll open another bug about the runtime future flattening, once I figure out a repro :)

[2016-05-04 23:03] #545 closed

[2016-05-04 23:08] jmesserly opened #551 "implement Future flattening"
Strong Mode interprets `Future<T>` as `Future<flatten(T)>`. We have not implemented this in DDC's type system yet.

Note that this is broken in checked mode in some cases on the VM too. For example:
[code]

The cast to "y" fails on the VM and DDC too. With generic methods you can create DDC specific failure modes (until VM implements them).

[2016-05-04 23:09] jmesserly commented on #545
future flattening: https://github.com/dart-lang/dev_compiler/issues/551

I forgot these examples tend to fail on VM as well, so maybe not very high priority on that one.

[2016-05-04 23:47] jmesserly commented on #253
Another example:
[code]
The point is that the cycle isn't always obvious just by examining the current class, and the fix up cannot happen right after we emit that class. So the existing _hasDeferredSupertype approach will need to be generalized.

[2016-05-05 00:29] leafpetersen commented on #550
Bug in runtime for subtyping generic typedefs.  Generic typedefs were matching the class subtyping path, and hence getting subtyped covariantly.  Fix coming.

[2016-05-05 01:36] #550 closed

[2016-05-05 16:56] jmesserly commented on #529
I fixed this in https://github.com/dart-lang/dev_compiler/commit/2b594db0bcbb1b0c0a44e573e2f6927095543899

[2016-05-05 16:56] #529 closed

[2016-05-05 17:01] vsmenon opened #552 "dart.hashCode, etc. aren't forwarding to the right methods"
This:

[code]

prints `5` and `undefined`.  We're compiling the corresponding dart2js implementations, but not forwarding.  (String is just returning length for now.)

[2016-05-05 17:02] vsmenon commented on #552
Looks like a `_LinkedHashMap` on `Type` is interpreting undefined as 0 - and putting everything in one bucket....

[2016-05-05 17:57] Kleak commented on #436
ok is there a starting point where i can look how to wrap an API ? is there the same as with the js package ?

[2016-05-05 19:17] vsmenon commented on #257
@jacob314 will look at dart:html once dart:async is landed

[2016-05-05 20:27] jacob314 commented on #548
I don't think my CL impacts this as I only change behavior for native classes with extensions.

[2016-05-05 20:42] jmesserly commented on #552
Oh interesting. This particular example may not be an instance of the general problem (that our Object members on native types are kind of broken), this one might be specific to our TypeReps which I'm not sure are hooked up to core.Object.

[2016-05-05 22:04] munificent commented on #257
dart:async is done as of 8154650779ea579e4d599ad422e459305b405eac

[2016-05-05 23:29] vsmenon opened #553 "Provide a module root flag"
Provide a `--module-root` flag to qualify the module name in the generated output.  We currently use the basename of the outfile (without the extension) as the module name.  This option would qualify the module name wrt the provided root.
[code]
would create a JS file with module name `bar/baz`.

@sigmundch - this correct?

[2016-05-05 23:33] sigmundch commented on #553
correct, thanks Vijay.

This was probably implied by the above, but just wanted to note that the `--module-root` would also be used to generate imports to modules that were loaded from summaries. So if you have:

[code]

and `baz.dart` contains an import resolved under `b.ds` then the output module `bar/baz` will load the module `a/b` .

[2016-05-05 23:58] hterkelsen opened #554 "merge tests that are mostly the same"
`super_in_async[1-6]_test.dart` and `static_field_override[1-3]_test.dart` can be merged into just 2 tests

[2016-05-06 00:03] #499 closed

[2016-05-06 00:03] #528 closed

[2016-05-06 00:10] munificent commented on #257
Working on Uri and probably dart:convert (since Uri uses it) now.

[2016-05-06 01:18] #553 closed

[2016-05-06 17:50] vsmenon commented on #548
Here's another example I'm seeing (with same `MyList` above):

[code]

This prints `undefined`.  Same result if we replace `dynamic` with `var`.

[2016-05-06 18:00] jmesserly commented on #548
ah chatted about that example, it's probably the same issue. Any ListBase/Mixin that uses a field will be broken. Either we need to know to emit a getter/setter pair for that at compile time, or the defineExtensionMembers helper needs to know that it should do so.

There's also a related issue that "length" shows up twice in the defineExtensionMembers list (probably once from the getter and once f

[2016-05-06 18:09] vsmenon commented on #548
Found a workaround, lowering back to P2.

This may be a different bug - changing `length` to a getter did not fix.

[code]

[2016-05-06 18:13] vsmenon commented on #548
Ok, syncing up and now the getter version works.  Sorry for the noise.

[2016-05-06 18:56] jmesserly commented on #552
So I've fixed TypeReps. Now trying to figure out what to do with object members.

[2016-05-06 19:38] rakudrama commented on #253
Another example, blocking #257:

[code]

This is the simple self-reference case (the type parameter of _DoubleLink is the class being defined).
I was able to fix this manually:

[code]

[code]

[2016-05-06 19:41] jmesserly commented on #253
yeah, self reference is a lot easier to handle (I'm actually surprised @vsmenon 's workaround didn't pick it up...)

[2016-05-06 20:12] rakudrama commented on #257
Blocked by #253:
lib/collection/linked_list.dart
lib/collection/queue.dart
lib/collection/splay_map.dart

[2016-05-06 20:34] jmesserly commented on #253
Oh, I see. The workaround kicked in, but it doesn't help at all if we're currently in a generic type.

Yeah that is part of what makes this one tricky, there are permutations depending on whether the two types involved are generic or not.

Fortunately, for this example `dart.generic` can handle it in a fairly straightforward manner. I will take a look as soon as I am able.

[2016-05-06 22:34] vsmenon opened #556 "In generic type definition, optimize self references."
This is an optimization that will happen to avoid one case of #253 that we're hitting.

Here's a simplification:

[code]

It hits an infinite loop today.  Here's the generate JS:

[code]

The recursive call to `generic.Foo$(T)` is causing the problem.  We could safely replace it with `Foo`, which is already defined in scope here.

[2016-05-06 22:36] vsmenon commented on #253
Downgrading this in favor of #556

[2016-05-06 22:58] vsmenon opened #557 "Rename "--build-root" to "--library-root""
for consistency with "--module-root".

[2016-05-09 17:30] jacob314 opened #558 "Support structural types in dart:html on ddc"
There are currently about 200 types in dart:html that cannot be properly implemented in ddc as they don't really have a concrete prototype.
For now, we should just remove these classes from the extension method list and make sure all these
methods are generated without extension method conventions so that typical user code is not broken.

[2016-05-09 17:33] jmesserly commented on #558
if you remove `@Native` it will remove it from extension type list.
https://github.com/dart-lang/dev_compiler/blob/f8f914081cf7e738cb105b20c8397d2bc31820f8/lib/src/compiler/extension_types.dart#L83

[2016-05-09 17:42] vsmenon commented on #558
@terrylucas had been studying these types.  We could annotate them differently - I think the relevant info is in the source IDL.

[2016-05-09 18:43] #556 closed

[2016-05-09 19:23] jmesserly commented on #552
https://codereview.chromium.org/1962823002/

[2016-05-09 23:15] jmesserly commented on #161
@rakudrama noticed another bug with the currently implemented logic -- it adds checks inside inner lambda, so for example:
[code]
there's a check added inside the lambda to assert that `i` is a `T` which is not necessary.

[2016-05-09 23:36] rakudrama commented on #522
If I uncomment the affected code in `input_sdk/lib/svg/dart2js/svg_dart2js.dart`:

[code]

I get the following error:

[code]

The error line (71966) is:
[code]

[2016-05-10 17:19] jmesserly commented on #166
I think this bug is obsolete with Bob's Analyzer changes, but we can reopen if something like this comes up again.

[2016-05-10 17:19] #166 closed

[2016-05-10 17:20] jmesserly opened #560 "type checks for primitive types could be much faster"
e.g. `dart.as(expr, core.bool)` and `dart.as(expr, core.String)` jump out as especially egregious :)

I think we have a helper for testing int, not sure if it's called though.

[2016-05-10 17:21] jmesserly commented on #560
CC @leafpetersen @rakudrama

[2016-05-10 18:35] #552 closed

[2016-05-10 19:10] jmesserly commented on #560
Related: https://github.com/dart-lang/dev_compiler/issues/536

[2016-05-10 19:58] rakudrama opened #561 "Faster JSArray.typed"
`JSArray.sublist` uses `Array.slice` and tags the result.

[code]

We can make [A] faster by recognizing that `_interceptors.JSArray$(E)` has a faster alias, `JSArray`.

We also need to make [B] faster. It also does a lookup of the parameterized type.

[code]

It seems that we should be able to change `typed` to also use the faster alias:

[code]

Doing this by hand seems to speed lib/convert/asci

[2016-05-10 20:25] jmesserly commented on #536
in addition to boolean conversions (which are pretty common) we can also merge `as` and `notNull` more generally

[2016-05-11 00:26] munificent commented on #257
OK, Uri and dart:convert are landed, though @floitschG says there may be some more dart:convert changes coming soon after. What's left to do?

[2016-05-11 16:48] TheBosZ opened #562 ""build_sdk.dart --modules es6" generates invalid dart_sdk.js"
If I run the command (on windows):
```dart tool\build_sdk.dart --dart-sdk tool\generated_sdk --modules es6 -o dart_sdk.js```

the generated file has 3 definitions of ```const _iterable```.

The ```--modules node``` version instead has different names for the 3 instances.

[2016-05-11 16:52] jmesserly commented on #562
I believe this is caused by https://github.com/dart-lang/dev_compiler/issues/512

[2016-05-11 16:53] TheBosZ commented on #562
That would explain why I couldn't find an issue for it! Feel free to close if necessary.

[2016-05-11 17:45] jmesserly opened #563 "in unsafe-force-compile, we need to throw for unresolved types/names"
e.g. here https://codereview.chromium.org/1969063002/diff/1/lib/src/compiler/code_generator.dart#newcode526

but also there's an "Unimplemented unknown name" message that shows up if you have a typo'd name

[2016-05-11 18:09] #522 closed

[2016-05-11 18:16] #536 closed

[2016-05-11 19:52] jmesserly commented on #139
fyi @rakudrama just hit this. maybe we regressed .length special case at some point?

[2016-05-11 21:53] jmesserly opened #564 "simplify constructor"
the current constructor on dart:core Object has some obsolete factory support. But aside from that, it's slower because of how it looks up the initializer method. I'm changing the pattern so that constructor is down to 1 line and immediately dispatches to the initialization method.

[2016-05-11 22:52] vsmenon commented on #540
@leafpetersen can we close this?  I think you fixed.

[2016-05-11 23:50] munificent opened #565 "Update "dart:" libraries to latest from Dart repo"
DDC has its own copy of the "dart:" library sources and they were forked some time ago. Eventually, we want to unfork (#257), but, until, then we're going to rev our forked copy to be closer to up-to-date with the current version of Dart.

Here's what's left to do:

- [x] dart:async
- [ ] dart:collection (in-progress)
    - (Looks like there are some changes in collection_patch to bring over.)
- [

[2016-05-11 23:50] munificent commented on #565
cc @rakudrama @hterkelsen

[2016-05-11 23:51] munificent commented on #257
This issue was originally about *unforking* DDC's SDK but we've been using it to refer to *rolling* it. To disambiguate, I'm forking the bug. This one is now about unforking. The bug for just rolling the latest SDK is #565.

[2016-05-12 00:02] munificent commented on #565
I'll take StackTrace.

[2016-05-12 00:23] jmesserly commented on #565
I'll take dart:math

[2016-05-12 00:30] munificent commented on #565
Oh, sorry, Harry is working on dart:math. :)

[2016-05-12 01:00] munificent commented on #565
I'll take dart:developer.

[2016-05-12 01:01] munificent commented on #565
Oh, never mind. DDC obviously doesn't support that. :)

[2016-05-12 13:38] vsmenon commented on #445
This is a specific case of a more general bug: #470

[2016-05-12 13:38] #445 closed

[2016-05-12 16:41] leafpetersen commented on #540
Done.

[2016-05-12 16:41] #540 closed

[2016-05-12 16:52] jmesserly commented on #470
taking a look

[2016-05-12 16:56] munificent commented on #565
I'll look at the dart:collection stuff.

[2016-05-12 17:10] jmesserly commented on #293
We have the same issue on dcalls, I think we throw a nSM instead of a StrongModeError or TypeError if the arg types fail to match

[2016-05-12 17:11] jmesserly commented on #296
I think @leafpetersen may have fixed this :)

[2016-05-12 17:13] jmesserly commented on #238
This strikes me related to another bug, that we could drop into the debugger if you hit a strong mode error.

[2016-05-12 17:14] jmesserly opened #566 "throw the right exception types for failures"
the runtime helpers seem to be a bit confused right now between StrongModeError, NoSuchMethodError, TypeError and others.

[2016-05-12 18:02] jmesserly commented on #296
Yeah I'll split that. Thanks!

[2016-05-12 18:06] jmesserly opened #567 "inference results in different behavior with "is" tests"
reported by @vsmenon in this [comment](https://github.com/dart-lang/dev_compiler/issues/296#issuecomment-132648045)

[code]

---

[comment](https://github.com/dart-lang/dev_compiler/issues/296#issuecomment-132654465) by me:

[code]

[2016-05-12 18:06] jmesserly commented on #567
CC  @leafpetersen

I'm not sure what the right answer is. With an eye towards future Dart, does this seem like something we need to address?

[2016-05-12 18:07] jmesserly commented on #296
https://github.com/dart-lang/dev_compiler/issues/567 for the other bug

[2016-05-12 18:07] #296 closed

[2016-05-12 18:11] jmesserly commented on #257
I investigated DDC summary. We can produce it with new Analyzers, but we can't build tests against it because some packages and a few tests seem to depend on dart:io (not sure if they use much of it or what's up there).

[2016-05-12 19:55] lrhn commented on #567
On Thu, May 12, 2016 at 8:06 PM, John Messerly <notifications@github.com>
wrote:

We definitely need to figure out what we want. :)
With generic methods, this problem doesn't even need a class any more:

    bool isit<T>(Object x) => x is T;

    main() {
      print(isit<String>("ab"));
      print(isit<int>("ab"));
      print(isit("ab"));
    }

/L
--
Lasse R.H. Nielsen - lrn@google.com
'Faith

[2016-05-12 20:06] vsmenon commented on #567
Yeah, we used to reject these statically - i.e., reject `is` and `as` checks on all types where strong mode would differ (type params, non-dynamic functions, non-dynamic generics).

We could explore doing that again.

We could also allow but throw a `StrongModeError` at runtime if the test on a non-ground type ever returns false.

Neither are great answers, though the latter is particularly bad.

[2016-05-12 20:38] rakudrama commented on #566
Lots of tests would pass if we generated TypeError instead of CastError for the places that in the spec are type assertions.

The injected as-checks should be generated as a different helper, e.g.

dart.as(x, T)  -->  dart.check(x, T).

[2016-05-12 21:01] jmesserly commented on #565
have ya'll considered bringing over dart:io? We don't have it yet but dart2js provides some of it:
https://github.com/dart-lang/sdk/blob/c566fc30c617f149eac6b5f52ce8f072684f50c8/sdk/lib/_internal/js_runtime/lib/io_patch.dart

[2016-05-12 21:27] jmesserly commented on #565
I'm going to follow up and see if I can snip the dart:io dependency, it might be we are including unused stuff in unittest module

[2016-05-13 00:44] rakudrama commented on #566
A related issue is null checking. This needs to distinguish a receiver from an argument.

    a + b

which we currently potentially generate as

    dart.notNull(a) + dart.notNull(b)

should throw a `NoSuchMethodError` for a==null but an `ArgumentError` for b==null.

[2016-05-13 16:51] munificent commented on #565
I'll take a look at dart:isolate, though I'm guessing there's nothing there we want to bring over right now.

[2016-05-13 17:51] leafpetersen opened #568 "dart.const is slow"
The runtime code for dart.const is fairly inefficient.  This could be made faster fairly easily, and it's on the hot path for both startup and for runtime.

[2016-05-13 17:59] leafpetersen opened #569 "Calls to dart.const aren't moved to higher levels and aren't cached."
I see lots of time spent in dart.const in profiles.  There is hot code which has calls to dart.const - each call will produce the same value but discovering that it relatively expensive.  We could sometimes hoist the constant up to a higher level.   We could also cache these constants in local variables at an appropriate scope by doing something like this:

[code]

The scope at which the cache var

[2016-05-13 18:06] jmesserly commented on #569
@leafpetersen -- if we're looking at startup speed, you could just make the consts back into lazy static properties. It's a "readability" optimization to initialize them at top-level. It's not required for semantics.

I presume you're seeing mostly top-level ones. There is definitely a related perf issue of constants inside of method bodies, which would need the fix you illustrate. I'm not sure if

[2016-05-13 18:10] jmesserly commented on #568
yes it's terrible. But hey we gotta have some low hanging fruit 🌴 🍌  :)

[2016-05-13 18:15] leafpetersen commented on #569
We're hitting both.  Making top level lazy is worth a try - might speed up startup.  I also see hot code at runtime with constants being used repeatedly in method bodies.

[2016-05-13 21:21] jmesserly commented on #569
https://codereview.chromium.org/1976923003/ fixes top-level

[2016-05-14 00:18] jmesserly commented on #569
almost ready on this one. I think all I need to worry about is type params, unless I'm missing something. for now if we have type params, it just skips the optimization (we can do better for generic classes, probably not for generic methods. I left both as a TODO.)

[2016-05-14 00:23] jmesserly commented on #569
https://codereview.chromium.org/1979013003

[2016-05-14 00:35] jmesserly commented on #564
CL for this is https://codereview.chromium.org/1965213003/

[2016-05-14 00:45] jmesserly opened #570 "_installProperties is slow"
something combinatoric is going on since dart:html was added. We're seeing a ton of calls to this.

[2016-05-14 00:51] jmesserly commented on #570
@leafpetersen is looking at this too

[2016-05-16 22:33] rakudrama commented on #570
Loading dart_sdk goes from  ~1500ms to ~800ms with https://github.com/dart-lang/dev_compiler/commit/a637e4102fff7d32760bd800971c7645309f5855

About ~350ms of the ~800ms is parsing the body of the dart_sdk.js library loader function. This is (miss)-attributed to the function that calls the library loader function (LibraryLoader.load).

[2016-05-16 22:33] #570 closed

[2016-05-17 01:26] rakudrama opened #571 "Improved dart.list and dart.map"
`dart.list` takes an element type.  We should investigate using a factory constructor instead.

The problem is that

    dart.list([1, 2, 3], core.int)

must to look up the type `JSArray<core.int>` each time.
We could generate a call to a factory constructor, e.g. named `_of`,

    core.List$(core.int)._of([1, 2, 3])

This would still create the parameterized type, but we can then apply other impr

[2016-05-17 01:39] leafpetersen opened #572 "collection_patch.dart is very untyped"
There are lots of missing types and generic methods in collection_patch.dart, with the result that I see lots of casts.  In a large sample app, I see 10s of thousands of casts to LinkHashMapCell.  It looks like _getTableEntry in collection_patch.dart (for example) needs to be made generic to track the type.

[2016-05-17 01:42] leafpetersen commented on #572
@rakudrama  suggests that @munificent is already on this?

[2016-05-17 02:46] rakudrama commented on #572
Some of those types should be unused and therefore should be removed.

First we need to fix the `dart.map` helper to avoid that LinkedHashMap in favor or the JS-tuned implementation.

Note that
[code]

prints:
[code]

but it should print
[code]

[2016-05-17 03:31] rakudrama commented on #572
Looking again, I'm not sure if any classes are unused.

I fixed the factory constructor, which should get rid of one source of the LinkedHashMapCell checks:
https://github.com/dart-lang/dev_compiler/commit/6ba9a6f8969cd21ee55676261b0f0a455711e321

The rest of the file needs to be updated.  @munificent, if you want, @hterkelsen or I can deal with this file since it is full of JS stuff.

[2016-05-17 04:22] leafpetersen commented on #572
Is there a bug to track the rest of the updates, or should we leave this open?

[2016-05-17 04:51] rakudrama commented on #572
Leave it open

[2016-05-17 16:29] leafpetersen opened #573 "Runtime type information should be named and hoisted"
We generate lots of inline type information.  This costs at startup to parse and evaluate, and costs at runtime to repeatedly allocate and canonicalize.  We should name types in some or all contexts so that instances are semantically shared.

[2016-05-17 16:30] leafpetersen commented on #573
@rakudrama @jmesserly I'm going to start working on this unless either of you have already jumped on this.

[2016-05-17 16:49] leafpetersen opened #574 "Consider emitting signature metadata directly on the class"
Currently we tag classes with their signature after they have been produced.  I believe that it would be not too hard to emit the signature metadata directly onto the class, and I think this would be as readable (or more) than our current strategy.  This could potentially help startup time, since the signature computation would be parsed and evaluated lazily rather than eagerly when we evaluate th

[2016-05-17 17:44] jmesserly commented on #573
go for it

[2016-05-17 17:48] leafpetersen commented on #161
https://codereview.chromium.org/1988613006/ addresses the unnecessary checks inside of lambdas, and also eliminates checks when the type parameter is only used covariantly.

[2016-05-17 18:10] #569 closed

[2016-05-17 21:37] #564 closed

[2016-05-17 22:42] #268 closed

[2016-05-17 23:29] jmesserly commented on #470
https://codereview.chromium.org/1989663002/

[2016-05-18 00:24] #470 closed

[2016-05-18 19:44] jmesserly commented on #551
@vsmenon  is hitting this. I think @leafpetersen is going to take a look.

[2016-05-18 22:57] jmesserly commented on #551
Leaf fixed in https://github.com/dart-lang/dev_compiler/commit/a12069c96264ba929068dc544e5a7b58ac4b67c7 :)

[2016-05-18 23:07] jmesserly opened #576 "ClassTypeAlias is broken in various ways"
visitClassTypeAlias is missing _most_ of the logic in visitClassDeclaration. Some of this might be okay (e.g. it can skip emitting members and signatures), but it leaves me rather concerned.

I suspect we can unify these two methods, and get rid of a lot of bugs. The actual ClassDeclaration node is almost unused in visitClassDeclaration -- we tend to let the ClassElement drive most decisions -- so

[2016-05-19 01:10] jacob314 opened #577 "When toString is called on a JavaScript symbol from Dart an exception is thrown"
The issue is that dart toString ends up calling
[code]
which throws an exception while
[code]
is fine.
I believe this behavior changed in a recent version of chrome likely to match the ES6 spec.

[2016-05-19 01:27] rakudrama commented on #577
1. Can we install an extension method on Symbol and use that to convert symbols however we want?

2. We could change `"" + x` back to  `x.toString()` and special-case String and num arguments before the extension method lookup.  That is probably fastest for a lot of real-world code.

[2016-05-19 17:59] jmesserly commented on #577
It was caused by a regression in DDC: https://codereview.chromium.org/1989663002/diff/1/tool/input_sdk/private/ddc_runtime/operations.dart#newcode469

additive operators evaluation is described [here](http://www.ecma-international.org/ecma-262/6.0/#sec-addition-operator-plus-runtime-semantics-evaluation), which uses [ToString](http://www.ecma-international.org/ecma-262/6.0/#sec-tostring) which thr

[2016-05-19 18:09] jmesserly opened #578 "Figure out interop with ES Symbol"
Treating it as a `@Native` type would have a lot of benefits in terms of how DDC's runtime understands, at a small code size cost.

(originally discussed this in https://github.com/dart-lang/dev_compiler/issues/577)

[2016-05-19 18:11] jmesserly commented on #577
https://github.com/dart-lang/dev_compiler/issues/578 for that really nice `@Native` JS Symbol idea.

[2016-05-19 19:01] jmesserly commented on #577
https://codereview.chromium.org/1993293002/

[2016-05-19 19:33] #577 closed

[2016-05-19 21:29] vsmenon commented on #551
We need this around `_Future` as well.  In `dart:async`, I see some calls to `new _Future(T)` which aren't handled.

[2016-05-19 22:33] #551 closed

[2016-05-20 23:56] alan-knight opened #579 "DateTime code does unnecessary dynamic sends"
For example, in Date formatting a method like getYear which just sends year to date ends up going through Primitives.getYear, which does a dynamic isUtc call.

[2016-05-21 01:15] jmesserly commented on #579
https://codereview.chromium.org/2004463004/

[2016-05-23 16:30] jmesserly commented on #579
fixed in https://github.com/dart-lang/dev_compiler/commit/dac62b61ee9cd2bd411bd5bba47576b52804010d

[2016-05-23 16:30] #579 closed

[2016-05-24 23:28] leafpetersen opened #580 "Tests that fail to compile succeed"
For codegen tests, if they fail to compile we just don't generate a js file, and so nothing gets run, and so the tests succeed.  We need to notice if things fail to compile.

[2016-05-24 23:29] leafpetersen opened #581 "Some tests have no expectation"
We use some tests just as eyeball tests to see that the generated code hasn't changed.  We may want to do more of this.  We need to sort out how to do this.

[2016-05-24 23:36] rakudrama commented on #580
We should put the status in a file so that it can be consumed by the compile step and the execution step.
I though of generating dummy files for compile failures that have a main program that emits the compile errors but that is somewhat indirect.

[2016-05-31 22:03] rakudrama commented on #566
I'm tackling making more cases generate TypeError.

[2016-06-02 00:07] leafpetersen opened #582 "Classes with no members do not get their runtime type set"
Currently the class runtime type (Type) is set by a call to dart.tag inside of dart.setSignature.  We don't emit calls to dart.setSignature if there are no members in the class, so the type doesn't get set and type name printing gets weird.

[2016-06-02 21:28] rakudrama commented on #561
Fixed in https://github.com/dart-lang/dev_compiler/commit/b2ebb32cbdf4ac4c35c537e7711ced5d54b04f1b

[2016-06-02 21:28] #561 closed

[2016-06-02 21:31] rakudrama commented on #571
List case has been implemented in https://github.com/dart-lang/dev_compiler/commit/b2ebb32cbdf4ac4c35c537e7711ced5d54b04f1b

    dart.list([1, 2, 3], core.int)

is now

    JSArrayOfint().of([1, 2, 3])

where `JSArrayOfint()` is the cached evaluation of  `_interceptors.JSArray$(core.int)`

Map case is still TODO

[2016-06-02 22:28] srawlins opened #583 "Missing return in _emitModule"
`_emitModule` ([lib/src/compiler/code_generator.dart](https://github.com/dart-lang/dev_compiler/blob/master/lib/src/compiler/code_generator.dart#L202)) ends with a switch over an enum, but there is no default case, or return statement after the switch (for when the enum's value is null).

[2016-06-02 22:30] srawlins opened #584 "_emitFunctionTagged has dead code."
`_emitFunctionTagged` ([lib/src/compiler/code_generator.dart](https://github.com/dart-lang/dev_compiler/blob/master/lib/src/compiler/code_generator.dart#L1972)) ends with an if/else that both return. Then there is a statement afterward.

[2016-06-06 17:39] rakudrama commented on #573
Is this finished?

[2016-06-06 17:42] rakudrama commented on #560
This is much better after https://github.com/dart-lang/dev_compiler/commit/bcc5f9d9c76e4fd1aa640518da35c9b96b8e13e7, which places the test on the type, i.e.

    dart.as(expr, core.bool)

is now

    core.bool.as(expr)

with a custom `as` method on `core.bool`

[2016-06-06 17:46] rakudrama opened #585 "Better MetaLet removal - returning a cascade"
The MetaLet contextual rewrites could catch a few more cases.
One case I see a lot is that of returning a cascade. Examples:

[code]

[code]

[2016-06-06 18:12] leafpetersen commented on #573
yes.

[2016-06-06 18:12] #573 closed

[2016-06-06 20:32] jmesserly opened #586 "enums in dart SDK libraries don't work"
When generating code for an enum, we appear to try and evaluate the enum constant list without understanding that JSArray (from dart:_interceptors) needs to be defined first. This happened in dart:_debugger but likely applies to any use of an enum in the SDK.

I think we have some code in visitListLiteral to ensure this dependency, but perhaps enums bypass that logic.

[2016-06-06 20:32] jmesserly commented on #586
Thanks to @priscilla-lee for catching this!

[2016-06-06 20:49] jmesserly commented on #585
Interesting, I could swear we used to have something for returning cascades (it was one of the motivating use cases). I wonder if it got regressed at some point.

[2016-06-06 23:00] jmesserly commented on #586
https://codereview.chromium.org/2045783002/ should fix it

[2016-06-06 23:09] #586 closed

[2016-06-06 23:28] jmesserly commented on #583
@srawlins -- how do I structure this in a good way? Switch over enums has to be exhaustive. The lack of a default case is intentional: if someone adds a new ModuleFormat, we want a warning that a case is missing. That is very important. If I add a "default" case, we'll lose the warning too. It won't let me add "case null" because it says "null cannot be a ModuleFormat". Either way I would be addin

[2016-06-06 23:30] jmesserly commented on #583
IMO, it would be better to ignore the null case, since in practice one does not typically switch over null (without it already being a bug of some sort). In other words, suppress the hint when one already has an exhaustive switch over enums.

[2016-06-07 00:29] #584 closed

[2016-06-10 12:51] vsmenon opened #587 "Runtime error on static field named 'name'"
[code]

triggers this at runtime:

[code]

[2016-06-10 13:56] vsmenon commented on #587
Looks like we don't check statics for conflicts in `_emitMemberName`.

[2016-06-10 18:05] jmesserly commented on #587
Huh. I could swear this used to work. :)

We need to use Object.defineProperty to define it. I think we used to send these down the lazy field path, which uses defineProperty, so it worked. It would also be fine to `Object.defineProperty(Field.prototype, 'name', { value: 'Foo' });` ... the laziness is not important, only that we use defineProperty.

[2016-06-13 14:21] vsmenon commented on #587
Should we be overwriting `name`?  We could rename it (as we'd do with `constructor` I think).

Alternatively, we could revisit putting statics here.

[2016-06-13 16:23] jmesserly commented on #587
Yeah we shouldn't rename it. It's equivalent to this perfectly legal ES6 code:
[code]

[2016-06-14 16:03] vsmenon opened #588 "Function subtyping bug"
[code]

generates the following error:

[code]

[2016-06-14 16:03] vsmenon commented on #588
Note, this should throw.  The VM throws:
[code]

[2016-06-14 16:55] #588 closed

[2016-06-14 20:31] jmesserly commented on #361
I think this issue is obsolete at this point

[2016-06-14 20:31] #361 closed

[2016-06-14 20:32] jmesserly commented on #505
Also, the commands broke the script in the Dart SDK.

[2016-06-14 22:17] #505 closed

[2016-06-14 22:18] jmesserly commented on #505
Fixed, we still support "compile" for backwards compat

[2016-06-14 23:22] jmesserly commented on #542
https://github.com/dart-lang/dev_compiler/issues/542 - codegen for them. Still need to fix runtime subtyping though, from the looks of it.

[2016-06-15 00:23] jmesserly commented on #542
Oh so the test failures are not for the reason I thought -- we seem perhaps(?) overly aggressive on our strong mode is check failures. (we don't allow `void call(bool a, {int b}) {}` to be checked against `typedef void Baz(bool a, {String b});` ... since it's a sideways cast, and we agree with Dart's type system on that, not sure why we throw from `is`?)

However there is still a problem in the CL

[2016-06-15 17:00] smanilov commented on #587
I'm not sure I can reproduce this.

I'm invoking DDC like this:

`dartdevc.dart compile -o foo bug.dart`

where `bug.dart` contains the code from the initial comment.

[2016-06-15 18:24] smanilov commented on #587
Explanation on how to run the code here: #485

[2016-06-15 19:25] jmesserly commented on #542
So one big issue here: because the class *instances* are now functions, we have to be careful in how we assign some instance fields, such as "name" (e.g. and others such as arguments/caller/callee).

We also may end up shadowing some methods on Function.prototype, such as "bind" "apply" and "call". That is fine conceptually, but it may break assumptions in our hand coded "dart." runtime functions

[2016-06-15 20:23] jmesserly commented on #451
I believe this was fixed as part of another change. We now dispatch these differently if it's an extension type.

[2016-06-15 20:23] #451 closed

[2016-06-15 20:24] jmesserly commented on #169
I am fixing nSM

[2016-06-15 20:25] jmesserly commented on #59
The fix seems to have been reverted or didn't land? Because this doesn't look right:
https://github.com/dart-lang/dev_compiler/blob/bcc5f9d9c76e4fd1aa640518da35c9b96b8e13e7/tool/input_sdk/private/ddc_runtime/operations.dart#L155

Anyway I'm working now on a fix.

[2016-06-15 20:25] jmesserly commented on #169
duping this against https://github.com/dart-lang/dev_compiler/issues/59

[2016-06-15 20:25] #169 closed

[2016-06-15 20:26] jmesserly commented on #59
Also this fix will include correct nSM dispatch for dload/dput (was #169)

[2016-06-15 21:05] #587 closed

[2016-06-15 21:23] jmesserly opened #591 "Functions do not support Object members."
I don't think we treat functions as native types/extension interfaces. So they don't get Object members. I imagine that none of the object members are working, or if they are, I don't understand how :).

This affects == and hashCode of tear offs, toString, and noSuchMethod on functions. Also runtimeType may not give the right answer either.

[2016-06-15 21:29] vsmenon commented on #591
Should this be dispatched / handled via `dart.hashCode`, etc.?

[2016-06-15 21:37] jmesserly commented on #591
Yeah, exactly. The question is where do the Function implementations live? Normally the helpers just check for null, then if we have an extension type, use `obj[dartx.hashCode]` else `obj.hashCode` So we either will want to install `[dartx.hashCode]` and friends on JS functions, or we have a special check for `typeof obj == "function"` and hard code the function logic.

[2016-06-16 20:44] jmesserly commented on #591
FYI -- I'm looking into this. Some of the nSM tests pass functions and they were not passing for this reason.

[2016-06-16 22:16] jmesserly opened #592 "noSuchMethod, runtimeType are not hooked up on Array"
noSuchMethod, runtimeType are not hooked up on Array ... strangely toString and hashCode work.

You can see this via the console:
[code]

EDIT: toString and hashCode are both declared on JSArray so that explains the difference.

[2016-06-16 22:23] vsmenon commented on #580
I'll look at this before we start triaging tests further.

[2016-06-16 23:47] jmesserly opened #593 "some member names likely don't work right for types with "call" methods"
In particular, those that are inherited from JS Functions, like "name".

We also allow shadowing methods like "call" and "apply". This may cause problems in our runtime, or in JS code that gets these objects. We should probably symbolize call/apply to avoid collision.

[2016-06-16 23:48] jmesserly commented on #542
Going to say this is fixed enough, bug for remaining issues is:
https://github.com/dart-lang/dev_compiler/issues/593

Note, contrary to my commit comment, subtype checks are working.

[2016-06-16 23:48] #542 closed

[2016-06-21 16:47] jmesserly opened #594 "dynamic calls to object members on null don't work"
null should support Object members (e.g. `null.toString()`, `null.hashCode` should work). If it ends up as a dcall, then we don't find the method correctly.

This may not be a dynamic helper bug ... it may be that we shouldn't have generated this call as a dynamic call. In my case it was an explicit nSM call: `dynamic d; Invocation i; d.noSuchMethod(i);` ... that call was generated as `dsend(d, 'n

[2016-06-21 17:01] leafpetersen commented on #594
We had code that looked for object methods and made sure that they didn't end up as dynamic invocations.  I wonder if it rotted?

[2016-06-21 17:09] jmesserly commented on #592
FYI the test case where I caught this:
[code]

[2016-06-21 17:11] jmesserly commented on #594
Yeah, that was my guess too. I thought this problem was fixed at least for things like hashCode and toString (if it's not, we'd see more breakage?). So it might be a problem with noSuchMethod, or it could be that we regressed in some other way.

As I understood it, Analyzer was not supposed to mark these as dynamic calls (because they aren't dynamic--every object in Dart supports nSM including `nu

[2016-06-21 17:26] leafpetersen commented on #298
Is this still something we want to do, or should this test die?

[2016-06-21 17:32] jmesserly commented on #298
I think we want to support this. It's the tests for "dart:js" SDK library. But they should probably live under test/codegen/lib/ like the other SDK tests (that's where collection, convert, html, math, and typed_data are).

[2016-06-21 17:48] leafpetersen commented on #594
In lib/src/task/checker.dart we check for object methods.  I wonder if the analyzer doesn't treat NSM as a normal method?

[2016-06-21 19:12] jmesserly commented on #591
https://codereview.chromium.org/2061373003

[2016-06-22 23:36] jmesserly opened #595 "implement configuration specific imports"
See SDK bug: https://github.com/dart-lang/sdk/issues/24581

Guessing this should be pretty easy, mostly plumbing through the right configuration to Analyzer.

CC @alan-knight

[2016-06-23 00:18] #59 closed

[2016-06-23 00:18] #591 closed

[2016-07-01 04:55] devoncarew opened #596 "document using ddc w/ node.js"
It would be great to move the content from https://github.com/dart-lang/dev_compiler/issues/485 to a top-level node.js usage doc.

[2016-07-01 06:05] devoncarew opened #597 "exception when generating a node version of the sdk"
When following the instructions from #485:

[code]

I get this exception (dev_compiler repo sync'd to latest, `pub upgrade` run; analyzer dep synced to `0.27.4-alpha.15`):

[code]

[2016-07-01 06:07] devoncarew commented on #461
closing as probably obsolete

[2016-07-01 06:07] #461 closed

[2016-07-01 16:17] devoncarew opened #598 "dartdevc usage errors scroll off the screen"
When I have an error in my cli invocation, the usage text printed by dartdevc scrolls the useful bit of the error off the screen. Perhaps show a very truncated version of the usage in some instances?

[code]

[2016-07-01 16:22] devoncarew opened #599 "difficult to discover all sources I should pass into dartdevc"
When using dartdevc, I need to pass a bunch of sources into it to create a module. Currently I'm creating one JS module per dart package, which seems like a good level of granularity. It would be nice it dartdevc had some facility to help me discover the list of all used sources given an entrypoint. I'm currently compiling the app with dart2js and then using its generated dep file to help me figur

[2016-07-01 18:28] jmesserly commented on #597
@devoncarew -- try this command:
[code]

DDC can't compile input_sdk directly. It's missing the "patch files" that implement functionality. So things like "null" types aren't very surprising. (based on the call stack, I suspect we failed to find JSArray in dart:_interceptors)

BTW the diff is very trivial, so you could also just post-process the JS:
[code]

[2016-07-01 18:33] jmesserly commented on #597
I think this is fixed but let me know if not :)

[2016-07-01 18:33] #597 closed

[2016-07-01 18:44] devoncarew commented on #597
Thanks! Yup, thanks for the info, I was able to build it w/ that command.

[2016-07-01 19:57] jmesserly commented on #598
So the high level point about DDC now: it's meant to be called by a build tool. It's not going to be super friendly to use directly, because of modular compilation. It would be sort of like calling "clang" directly for each .o file you're building. Works for a simple hello world, but doesn't really scale :).  (See clang --help for a big list! It's 376 lines on my version.)

That said, there's a lo

[2016-07-01 19:59] jmesserly commented on #428
this was fixed a while ago

[2016-07-01 19:59] #428 closed

[2016-07-01 20:19] devoncarew commented on #598
Cool, I totally get that. What I was doing yesterday was trying to get the cli args together (https://github.com/flutter/atom-flutter/blob/master/tool/grind.dart#L108) that I would then roll back into a build system of some sort. But even puzzling out the args I think could use a little bit better feedback. Specifically:

- if the tool fails parsing the args, printing the usage makes sense
- if it

[2016-07-01 20:23] devoncarew commented on #362
I think this is stale now -

[2016-07-01 20:23] #362 closed

[2016-07-01 20:36] jmesserly commented on #599
CC @nex3 who also hit this ... we were discussing a "dev_compiler_tools" repo or some such where we could start adding tools like that.

In some sense the real solution here is a build system (e.g. Bazel). The fact that it's difficult is almost on purpose :). It forces us to confront the reality of modular compilation. Our internal code fortunately, already uses a build system :). But we'll need t

[2016-07-01 20:37] jmesserly commented on #598
eeeeep, yeah, good catch. we can make that better. Probably because we're (ab)using UsageException from the args package

[2016-07-01 20:46] devoncarew commented on #599
Yeah, when I filed this I was thinking of something like `dartdevc discover foo.dart`, which would emit info about the transitive set of sources into something like foo.deps.json, which I could then use to (manually or in an automated fashion) create a makefile / grunt / gulp build. So dartdevc wouldn't be driving the build here, but would provide me some info which I could then use to set up (and

[2016-07-01 21:26] jmesserly commented on #599
nice, yeah something like that sounds like a great idea. BTW @vsmenon has a sort of start of it here:
https://github.com/dart-lang/dev_compiler/blob/master/tool/global_compile.dart

... although that one does actually run a build, vs what you're describing of emitting the data. IMO your approach sounds really nice since it is on the path to a nice build story :)

[2016-07-01 23:27] jmesserly commented on #120
this has been done 🎉
Landed in Analyzer in https://codereview.chromium.org/2108823002/

[2016-07-01 23:27] #120 closed

[2016-07-01 23:27] jmesserly commented on #293
was fixed in https://github.com/dart-lang/sdk/issues/26583

[2016-07-01 23:27] #293 closed

[2016-07-01 23:28] jmesserly commented on #238
merging this into https://github.com/dart-lang/dev_compiler/issues/509

[2016-07-01 23:28] #238 closed

[2016-07-01 23:31] jmesserly commented on #565
I think this was done, or at least the P1 stuff was. We need to unfork SDK though still.

[2016-07-01 23:31] #565 closed

[2016-07-01 23:31] jmesserly commented on #565
(unforking SDK is covered by https://github.com/dart-lang/dev_compiler/issues/257)

[2016-07-01 23:32] jmesserly commented on #583
This was fixed.

[2016-07-01 23:32] #583 closed

[2016-07-01 23:32] jmesserly commented on #560
Nice. Going to say this is done :)

[2016-07-01 23:32] #560 closed

[2016-07-06 17:59] munificent commented on #428
Sorry I forgot to close this!

[2016-07-07 18:23] leafpetersen opened #600 "Generic method calls using the `?.` syntax don't work"
This dart code:

[code]

produces this JS output:

[code]

Note that in neither case is the generic parameter passed to the call to expand.

[2016-07-07 20:07] #600 closed

[2016-07-14 22:00] jmesserly opened #603 "interfaces implemented via noSuchMethod"
This is supported by Strong mode, but not by DDC yet.

This would help Mock objects used in tests (e.g. mockito)

Here's a bug with context:
https://github.com/dart-lang/sdk/issues/26863

Here's the desugaring we should do in the compiler:
https://github.com/dart-lang/sdk/issues/26863#issuecomment-232129604
(we don't need to generate the Dart code for those synthetic methods, we could go straight

[2016-07-14 22:01] jmesserly commented on #603
FYI to @leafpetersen ... tentatively assigning myself :)

[2016-07-16 00:39] jmesserly opened #604 "noSuchMethod Invocation does not include generic type arguments"
Dart's Invocation object doesn't have type arguments, so they get dropped when we call nSM. There's no way to access them from nSM.

@leafpetersen - thoughts on this? Should we add them to Invocation?

[2016-07-16 00:40] jmesserly commented on #604
Reason I marked as p2, if folks want to mock generic methods, they might hit this issue.

[2016-07-16 00:45] smanilov opened #605 "Compiler crashes when invoked on non-existing file"
It throws an exception, rather than catching it and handling it properly.

To reproduce:

dartdevc.dart -o foo.js foo

(make sure foo doesn't exist).

[2016-07-18 17:17] jmesserly commented on #605
DOH. Thanks for catching this! And thanks for looking into it :)

[2016-07-18 22:18] jmesserly commented on #603
https://codereview.chromium.org/2158173003/

[2016-07-19 00:05] leafpetersen commented on #604
Yeah, this should be supported.

[2016-07-19 20:24] #603 closed

[2016-07-22 16:34] jmesserly opened #606 "add a way to configure summary extension"
e.g. `--summary-extension=.api.ds`

CC @stereotype441

[2016-07-22 16:48] jmesserly commented on #606
and maybe we should also change the default to `.api.ds` :)

(although confusingly, I think DDC currently emits the full summary?)

[2016-07-22 17:54] jmesserly commented on #606
https://codereview.chromium.org/2176763002/ ... first CL that adds the option. We can change the default in a follow up.

[2016-07-22 18:39] #606 closed

[2016-07-26 22:31] jmesserly opened #607 "implement --packages flag"
we need to support package specs :)

[2016-07-26 22:31] jmesserly commented on #607
FYI to @nex3

[2016-07-27 00:59] nex3 commented on #607
Note that if dart-lang/test#414 lands before this is fixed, it'll break dart-lang/test#327.

[2016-07-27 17:53] jmesserly opened #608 "change default summary file extension"
e.g. `.api.ds`, see https://github.com/dart-lang/dev_compiler/issues/606

[2016-07-27 23:23] nex3 opened #609 "Support loading files via non-file: URIs"
Currently the dev compiler only supports compiling sources with `file:` URIs. To match other implementations, it should support `http:`, `https:` and `data:` URIs as well.

This is blocking dart-lang/test#414, which needs to be able to compile from HTTP to support `pub serve`.

[2016-07-27 23:41] nex3 opened #610 "Passing an unknown option produces incorrect help output"
If you pass `--help` to the dev compiler, you get the following helpful information:

[code]

However, if you pass an unknown option (e.g. `dartdevc --asdf`) you get the following much-less-helpful output:

[code]

It would be nice if the unknown option produced the same output as `--help`.

[2016-07-28 00:18] nex3 opened #611 "--package-root argument should accept a URI"
It looks like the `--package-root` argument assumes that it's a filesystem path. To match other Dart tools, it should accept a URI instead.

This is blocking dart-lang/test#414

[2016-07-28 00:36] nex3 opened #612 "Allow source files and summaries to come from anywhere"
Currently, all source files and module summaries must be within the build root and module root, respectively. This seems like an unnecessary limitation, and it's contrary to how other Dart implementations work.

This is blocking dart-lang/test#414. The test runner needs to synthesize an entrypoint in a temp directory, which isn't in the default build or module root. We can't even use the filesyste

[2016-07-28 01:07] nex3 opened #613 "Document usage"
Currently there's very little documentation describing how to use the dev compiler. [The usage doc](https://github.com/dart-lang/dev_compiler/blob/master/USAGE.md) that exists is very sparse and has been marked as out-of-date [for three months](https://github.com/dart-lang/dev_compiler/commit/e4f4ee01755c35cedddf86dee8d392256b54cb77).

Some information that would be useful:

* How to compile a sim

[2016-07-28 01:10] nex3 opened #614 "Allow sources to be provided as a file"
Currently, all sources for a compilation must be provided as command-line arguments. However, if a module contains many sources, it can run up against command-line length limits. This could be avoided by providing an argument that takes a file that contains newline-separated source file names, like `tar`'s `--files-from`. Bonus points if it's possible to provide files via stdin by passing `--sourc

[2016-07-28 04:53] jmesserly commented on #610
yeah, we need to move off the command interface (as we only have one command). Probably we can switch to args parsing, but have it ignore a leading "compile" (for backwards compat -- I think our internal build tools still pass it).

[2016-07-28 04:55] jmesserly commented on #612
@vsmenon - would you mind taking this one? I think you're likely most familiar with the "build root" "module root" options.

@nex3 - if this is blocking, does marking it P1 sound right to you?

[2016-07-28 05:05] jmesserly commented on #609
(marked P1 if it's a blocker)

I can see how data could work, but what is http(s) supposed to do for a command line compiler? I don't see any code in analyzer_cli for it,  and none of those URI schemes seem to work for dartanalyzer (as far as I can tell). If there's some way to make this work in Analyzer I'm all for it. (And probably we should implement it in pkg:analyzer so DDC doesn't need custo

[2016-07-28 05:07] jmesserly commented on #609
Aside, the idea of a compiler needing to support HTTP is a bit crazy on principle :). But I can see how we got there with our crazy concurrency story :|

[2016-07-28 18:58] nex3 commented on #612
I'd appreciate it, yeah!

[2016-07-29 00:23] vsmenon commented on #612
@nex3 The build root and module root affect the generated code - the library names and module names in the generated code.

But those could point elsewhere.  E.g.,

[code]

Is that sufficient or are you compiling multiple Dart sources from different directories in the same compile command?

If the latter, we could allow these to be a list of paths instead.  E.g., something like:

[code]

[2016-07-29 00:44] nex3 commented on #612
I am, yeah—and in general it seems like this is a thing we should support.

This would work (although colon-separated reads weird to me; I'd prefer comma-separated or just being able to pass multiple `--library-root` flags).

How would this work if multiple sources had the same paths relative to their respective roots?

[2016-07-29 16:03] DanTup opened #615 "How to export functions directly (exports.blah = function() { /* ... */ })"
Sorry if this is a noob question, and I appreciate this isn't ready for production, but I can't get things working with `dart2js` so figured I'd have a go with this...

If I have `test.dart`:

[code]

and run `dartdevc --modules node -o test.js test.dart` the output is:

[code]

This means my function is exported as `__test.activate` but what I need is for it just to be `activate`.

How can I cont

[2016-07-29 16:08] jmesserly commented on #615
Right now we don't have anything that would control that, but it's a good request. Definitely it should be possible to export something at module level for interop purposes. CC @jacob314 who may be able to take a look.

[2016-07-29 16:09] jmesserly commented on #615
p.s. good catch & thanks for filing this!

[2016-07-29 16:11] jmesserly commented on #615
A workaround until we fix this, might be to write a little wrapper JS module that re-exports the API you want.

[2016-07-29 16:14] DanTup commented on #615
Thanks; I don't know how common this sort of thing is but it's a [requirement for Visual Studio Code extensions](https://code.visualstudio.com/docs/extensionAPI/activation-events):

Though it does also seem reasonable to want full control over the exported object.

I'll create a wrapper for now and see how far I can get. Thanks!

[2016-07-29 17:37] vsmenon commented on #612
Yeah, using comma's elsewhere already.

It could take the first match it finds (in the listed order a la PATH).  Or the tightest match I suppose.